.eltd-field-description {
	margin: 0px 0 10px;
	display: block;
	color: #808A93;
	font-style: normal;
	font-size: 12px;
	line-height: 1.5;
}

.eltd-field-description {
	margin-top:10px;
}

.eltd-page-form-section {
	border-top: 1px solid #efefef;
	display: table;
	width: 100%;
}

.eltd-page-form-section:last-child {
	border-bottom: none;
}

.eltd-page-form-section {
	border-top: 1px solid #efefef;
	display: table;
	width: 100%;
}

.eltd-page-form-container-holder .eltd-field-desc {
	background-color: #f7f9fa;
	border-left:2px solid #D8DDE7;
}

.eltd-field-desc {
	width: 20%;
	padding: 15px 10px;
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	background-color: #f7f9fa;
}

.eltd-field-desc h4 {
	margin-bottom: 0;
	color:#374a59;
	font-size: 14px;
	font-weight: 600;
}

.eltd-field-desc p {
	color:#374a59;
	margin-top:0;
	margin-bottom: 0;
	font-size: 13px;
	font-weight:300;
}

.eltd-section-content {
	padding: 20px 0;
	display: table-cell;
	width: 80%;
	height: 100%;
	vertical-align: middle;
}