/*------------------------------------------------------------------
 * This is main responsive css file for blog.
 -------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  .eltd-blog-holder.eltd-three-columns article {
    width: 49%;
    margin: 0 2% 2% 0;
    float: left;
  }
  .eltd-blog-holder.eltd-three-columns article:nth-child(3n) {
    margin-right: 2%;
  }
  .eltd-blog-holder.eltd-three-columns article:nth-child(3n+1) {
    clear: none;
  }
  .eltd-blog-holder.eltd-three-columns article:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-blog-holder.eltd-three-columns article:nth-child(2n+1) {
    clear: both;
  }
  .eltd-blog-holder.eltd-four-columns article {
    width: 49%;
    margin: 0 2% 2% 0;
    float: left;
  }
  .eltd-blog-holder.eltd-four-columns article:nth-child(4n) {
    margin-right: 2%;
  }
  .eltd-blog-holder.eltd-four-columns article:nth-child(4n+1) {
    clear: none;
  }
  .eltd-blog-holder.eltd-four-columns article:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-blog-holder.eltd-four-columns article:nth-child(2n+1) {
    clear: both;
  }
  .eltd-content-right-from-sidebar .eltd-blog-single-data,
  .eltd-content-left-from-sidebar .eltd-blog-single-data {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-blog-single-data {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-holder.eltd-two-columns article,
  .eltd-blog-holder.eltd-three-columns article,
  .eltd-blog-holder.eltd-four-columns article {
    width: 100%;
    margin: 0;
  }
  .eltd-related-posts-holder .eltd-related-post {
    width: 49%;
  }
  .eltd-related-posts-holder .eltd-related-post:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-related-posts-holder .eltd-related-post:nth-child(2n+1) {
    clear: both;
  }
  .eltd-content-right-from-sidebar .eltd-related-posts-holder .eltd-related-post,
  .eltd-content-left-from-sidebar .eltd-related-posts-holder .eltd-related-post {
    width: 100%;
    float: none;
    margin: 0 0 5%;
  }
}

/*# sourceMappingURL=blog-responsive.css.map */