/*------------------------------------------------------------------
 * This is main css file for blog. It is broken into following sections:
 * 1.  Blog list styles
 * 2.  Blog single styles
 * 3.  Blog navigation styles
 * 4.  Blog related posts styles
 -------------------------------------------------------------------*/
/* ==========================================================================
   1. Blog list styles
   ========================================================================== */
.eltd-blog-holder article {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.eltd-blog-holder article .eltd-post-image {
  overflow: hidden;
}

.eltd-blog-holder article .eltd-post-image .eltd-blog-gallery .owl-item {
  overflow: hidden;
}

.eltd-blog-holder article .eltd-post-image img {
  vertical-align: middle;
  width: 100%;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
}

.eltd-blog-holder article .eltd-post-image a:hover img {
  -webkit-transform: scale(1.12) translateZ(0);
  -moz-transform: scale(1.12) translateZ(0);
  transform: scale(1.12) translateZ(0);
}

.eltd-blog-holder article .eltd-post-text-inner {
  position: relative;
  background-color: #fff;
  padding: 38px 35px 30px;
  min-height: 245px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.eltd-blog-holder article .eltd-post-text-inner > h1:not(.eltd-post-title),
.eltd-blog-holder article .eltd-post-text-inner > h2:not(.eltd-post-title),
.eltd-blog-holder article .eltd-post-text-inner > h3:not(.eltd-post-title),
.eltd-blog-holder article .eltd-post-text-inner > h4:not(.eltd-post-title),
.eltd-blog-holder article .eltd-post-text-inner > h5:not(.eltd-post-title),
.eltd-blog-holder article .eltd-post-text-inner > h6:not(.eltd-post-title) {
  margin: 15px 0;
}

.eltd-blog-holder article .eltd-blog-audio-holder {
  margin-bottom: 15px;
}

.eltd-blog-holder article:not(.format-quote).eltd-post-title {
  margin-bottom: 10px;
}

.eltd-blog-holder article.sticky .eltd-post-mark.eltd-sticky {
  display: block;
}

.eltd-blog-holder article.sticky .eltd-post-mark span:before {
  content: 'p';
}

.eltd-blog-holder article .eltd-post-title {
  margin-bottom: 15px;
}

.eltd-blog-holder article .eltd-post-info {
  margin: 0 0 6px;
}

.eltd-blog-holder article .eltd-post-info > div {
  display: inline-block;
  position: relative;
  padding-right: 15px;
}

.eltd-blog-holder article .eltd-post-info > div:after {
  content: "/";
  position: absolute;
  right: 5px;
  top: 0;
}

.eltd-blog-holder article .eltd-post-info > div:last-child:after {
  content: "";
}

.eltd-blog-holder article .eltd-post-info a:hover {
  color: #222222;
}

.eltd-blog-holder article .eltd-post-mark {
  position: absolute;
  top: -23px;
  width: 45px;
  height: 45px;
  line-height: 47px;
  background-color: #01b1ae;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.eltd-blog-holder article .eltd-post-mark span {
  vertical-align: middle;
}

.eltd-blog-holder article .eltd-post-mark.eltd-sticky {
  display: none;
}

.eltd-blog-holder article .eltd-item-bottom-holder {
  background-color: #fff;
  border-top: 1px solid #e3e3e3;
  width: 100%;
}

.eltd-blog-holder article .eltd-item-bottom-holder-inner {
  padding: 27px 35px;
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.eltd-blog-holder article .eltd-item-bottom-holder-inner .eltd-item-btm-left-holder {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

.eltd-blog-holder article .eltd-item-bottom-holder-inner .eltd-item-btm-left-holder .eltd-post-info-author {
  display: inline-block;
  vertical-align: middle;
  margin-left: 11px;
  font-size: 13px;
  font-weight: 600;
}

.eltd-blog-holder article .eltd-item-bottom-holder-inner .eltd-item-btm-left-holder .eltd-item-author-image {
  display: inline-block;
  vertical-align: middle;
}

.eltd-blog-holder article .eltd-item-bottom-holder-inner .eltd-item-btm-left-holder img {
  vertical-align: middle;
}

.eltd-blog-holder article .eltd-item-bottom-holder-inner .eltd-item-btm-left-holder .eltd-post-info-author-link {
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
}

.eltd-blog-holder article .eltd-item-bottom-holder-inner .eltd-item-btm-left-holder .eltd-post-info-author-link:hover {
  color: #222222;
}

.eltd-blog-holder article .eltd-item-bottom-holder-inner .eltd-item-btn-right-holder {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.eltd-blog-holder article .eltd-item-bottom-holder-inner .eltd-item-btn-right-holder .eltd-btn {
  vertical-align: middle;
  padding-right: 2px;
}

.eltd-blog-holder article .eltd-item-bottom-holder-inner .eltd-item-btn-right-holder .eltd-btn-icon-arrow {
  text-align: right;
}

.eltd-blog-holder article.format-quote .eltd-post-title h2 {
  margin-bottom: 0px;
}

.eltd-blog-holder article span.eltd-quote-author {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.eltd-blog-holder article .eltd-post-title a:hover {
  color: #555555;
}

.eltd-blog-holder.eltd-two-columns article, .eltd-blog-holder.eltd-three-columns article, .eltd-blog-holder.eltd-four-columns article {
  margin: 0 2% 2% 0;
  float: left;
}

.eltd-blog-holder.eltd-two-columns article {
  width: 49%;
}

.eltd-blog-holder.eltd-two-columns article:nth-child(2n) {
  margin-right: 0;
}

.eltd-blog-holder.eltd-two-columns article:nth-child(2n+1) {
  clear: both;
}

.eltd-blog-holder.eltd-three-columns article {
  width: 32%;
}

.eltd-blog-holder.eltd-three-columns article:nth-child(3n) {
  margin-right: 0;
}

.eltd-blog-holder.eltd-three-columns article:nth-child(3n+1) {
  clear: both;
}

.eltd-blog-holder.eltd-four-columns article {
  width: 23.5%;
}

.eltd-blog-holder.eltd-four-columns article:nth-child(4n) {
  margin-right: 0;
}

.eltd-blog-holder.eltd-four-columns article:nth-child(4n+1) {
  clear: both;
}

.eltd-blog-holder.eltd-blog-type-standard {
  word-break: break-word;
}

.eltd-blog-infinite-scroll-button {
  display: none;
}

/* ==========================================================================
   2. Blog single styles
   ========================================================================== */
.single-post .eltd-content-inner > .eltd-container {
  background-color: #fff;
}

.eltd-title-info-holder {
  margin-top: 35px;
}

.eltd-title-info-holder > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

.eltd-title-info-holder > *:last-child {
  margin-right: 0;
}

.eltd-title-info-holder div,
.eltd-title-info-holder span {
  color: #fff;
}

.eltd-blog-single-data {
  width: 66.66%;
  margin: auto;
}

.eltd-blog-single-data.eltd-blog-additional-data-full {
  width: 100%;
}

.eltd-author-description {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 50px 0 45px;
  border-top: 1px solid #e3e3e3;
}

.eltd-author-description .eltd-author-description-image {
  float: left;
  margin-right: 30px;
}

.eltd-author-description .eltd-author-description-image img {
  vertical-align: middle;
}

.eltd-author-description .eltd-author-description-text-holder {
  padding-left: 110px;
  position: relative;
}

.eltd-author-description .eltd-author {
  color: #01b1ae;
}

.eltd-author-description .eltd-author-text {
  margin-top: 16px;
}

.eltd-single-tags-holder {
  margin: 20px 0;
}

.eltd-single-tags-holder .eltd-single-tags-title {
  display: inline-block;
  margin-right: 5px;
}

.eltd-single-tags-holder .eltd-tags {
  display: inline-block;
}

.eltd-single-tags-holder .eltd-tags a {
  display: inline-block;
  font-size: 13px;
  padding: 15px 30px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  color: #222222;
  margin: 0 2px 5px 0;
}

.eltd-single-tags-holder .eltd-tags a:hover {
  color: #01b1ae;
}

.eltd-blog-share {
  border-top: 1px solid #e3e3e3;
  padding: 54px 0 60px;
}

/* ==========================================================================
   3. Blog navigation styles
   ========================================================================== */
.eltd-blog-single-navigation {
  position: relative;
  height: 140px;
  background-color: #222;
  padding: 0 70px;
}

.eltd-blog-single-navigation .eltd-blog-single-navigation-inner {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.eltd-blog-single-navigation .eltd-blog-single-navigation-inner > div {
  display: table-cell;
  width: 33.33%;
  vertical-align: middle;
}

.eltd-blog-single-navigation .eltd-blog-single-prev,
.eltd-blog-single-navigation .eltd-blog-single-all,
.eltd-blog-single-navigation .eltd-blog-single-next {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a,
.eltd-blog-single-navigation .eltd-blog-single-all a,
.eltd-blog-single-navigation .eltd-blog-single-next a {
  color: #fff;
}

.eltd-blog-single-navigation .eltd-blog-single-all {
  text-align: center;
}

.eltd-blog-single-navigation .eltd-blog-single-prev {
  text-align: left;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a .eltd-btn-icon-arrow {
  right: 0;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a .eltd-btn-icon-arrow .eltd-line-1 {
  right: 0;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a .eltd-btn-icon-arrow .eltd-line-2 {
  left: 0;
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  transform: rotate(126deg);
}

.eltd-blog-single-navigation .eltd-blog-single-prev a .eltd-btn-icon-arrow .eltd-line-3 {
  left: 0;
  -webkit-transform: rotate(-126deg);
  -moz-transform: rotate(-126deg);
  transform: rotate(-126deg);
}

.eltd-blog-single-navigation .eltd-blog-single-next {
  text-align: right;
}

.eltd-blog-single-navigation .eltd-blog-single-next a .eltd-btn-icon-arrow {
  left: 0;
}

.eltd-blog-single-navigation .eltd-blog-single-next a .eltd-btn-icon-arrow .eltd-line-1 {
  left: 0;
}

.eltd-blog-single-navigation .eltd-blog-single-next a .eltd-btn-icon-arrow .eltd-line-2 {
  right: 0;
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  transform: rotate(36deg);
}

.eltd-blog-single-navigation .eltd-blog-single-next a .eltd-btn-icon-arrow .eltd-line-3 {
  right: 0;
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  transform: rotate(-36deg);
}

.eltd-blog-single-navigation .eltd-blog-single-prev a,
.eltd-blog-single-navigation .eltd-blog-single-next a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  letter-spacing: 0.5px;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a.eltd-btn-visible,
.eltd-blog-single-navigation .eltd-blog-single-next a.eltd-btn-visible {
  opacity: 1;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a .eltd-btn-text,
.eltd-blog-single-navigation .eltd-blog-single-next a .eltd-btn-text {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a .eltd-btn-icon-arrow,
.eltd-blog-single-navigation .eltd-blog-single-next a .eltd-btn-icon-arrow {
  position: absolute;
  top: 50%;
  width: 26px;
  height: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: width 0.25s ease-out;
  -moz-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a .eltd-btn-icon-arrow .eltd-line-1,
.eltd-blog-single-navigation .eltd-blog-single-next a .eltd-btn-icon-arrow .eltd-line-1 {
  position: absolute;
  top: calc(50% - 1px);
  width: 100%;
  height: 0px;
  border-bottom: 1px solid #fff;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a .eltd-btn-icon-arrow .eltd-line-2, .eltd-blog-single-navigation .eltd-blog-single-prev a .eltd-btn-icon-arrow .eltd-line-3,
.eltd-blog-single-navigation .eltd-blog-single-next a .eltd-btn-icon-arrow .eltd-line-2,
.eltd-blog-single-navigation .eltd-blog-single-next a .eltd-btn-icon-arrow .eltd-line-3 {
  content: '';
  position: absolute;
  height: 0;
  width: 4px;
  border-bottom: 1px solid #fff;
  outline: 1px solid transparent;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a .eltd-btn-icon-arrow .eltd-line-2,
.eltd-blog-single-navigation .eltd-blog-single-next a .eltd-btn-icon-arrow .eltd-line-2 {
  top: calc(50% - 2px);
}

.eltd-blog-single-navigation .eltd-blog-single-prev a .eltd-btn-icon-arrow .eltd-line-3,
.eltd-blog-single-navigation .eltd-blog-single-next a .eltd-btn-icon-arrow .eltd-line-3 {
  bottom: calc(50% - 1px);
}

.eltd-blog-single-navigation .eltd-blog-single-prev a:hover .eltd-btn-icon-arrow,
.eltd-blog-single-navigation .eltd-blog-single-next a:hover .eltd-btn-icon-arrow {
  width: 100%;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a:hover .eltd-btn-text,
.eltd-blog-single-navigation .eltd-blog-single-next a:hover .eltd-btn-text {
  -webkit-transition: -webkit-transform .15s ease-out .02s;
  transition: transform .15s ease-out .02s;
}

.eltd-single-links-pages {
  margin-top: 20px;
}

.eltd-single-links-pages .eltd-single-links-pages-inner > a,
.eltd-single-links-pages .eltd-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: content-box;
  color: #222;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out;
}

.eltd-single-links-pages .eltd-single-links-pages-inner > a:hover,
.eltd-single-links-pages .eltd-single-links-pages-inner > span {
  background-color: #f7f7f7;
  color: #01b1ae;
}

/* ==========================================================================
   4. Blog related posts styles
   ========================================================================== */
.eltd-related-posts-holder {
  border-top: 1px solid #e3e3e3;
  padding: 48px 0 40px;
}

.eltd-related-posts-holder .eltd-related-posts-title h4 {
  margin-bottom: 38px;
}

.eltd-related-posts-holder .eltd-related-post {
  width: 23.5%;
  float: left;
  margin: 0 2% 2% 0;
}

.eltd-related-posts-holder .eltd-related-post:nth-child(4n) {
  margin-right: 0;
}

.eltd-content-right-from-sidebar .eltd-related-posts-holder .eltd-related-post,
.eltd-content-left-from-sidebar .eltd-related-posts-holder .eltd-related-post {
  width: 32%;
  float: left;
  margin: 0 2% 2% 0;
}

.eltd-content-right-from-sidebar .eltd-related-posts-holder .eltd-related-post:nth-child(3n),
.eltd-content-left-from-sidebar .eltd-related-posts-holder .eltd-related-post:nth-child(3n) {
  margin-right: 0;
}

.eltd-blog-holder.eltd-blog-single article {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-text-inner {
  padding: 0 0 30px;
  min-height: 0;
  background-color: transparent;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-title-holder {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding-top: 35px;
  margin-bottom: 89px;
  border-top: 1px solid #e3e3e3;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-mark-holder {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding-top: 7px;
  width: 71px;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-mark-holder .eltd-post-mark {
  position: relative;
  top: 0;
  left: 0;
  width: 71px;
  height: 71px;
  line-height: 73px;
  font-size: 37px;
}

.eltd-blog-holder.eltd-blog-single article.format-link .eltd-post-title, .eltd-blog-holder.eltd-blog-single article.format-quote .eltd-post-title {
  display: table-cell;
  vertical-align: middle;
  padding-left: 28px;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-title {
  margin-bottom: 20px;
}

.eltd-blog-holder.eltd-blog-single article.format-quote h2 {
  margin-bottom: 14px;
}

.eltd-blog-holder.eltd-blog-single article.format-quote .eltd-quote-author {
  font-size: 20px;
}

/*# sourceMappingURL=blog.css.map */