/*------------------------------------------------------------------
 * This is ie9 related css file for theme.
 -------------------------------------------------------------------*/
.eltd-header-centered-logo .eltd-main-menu.eltd-items-number-1 > ul > li {
  width: 100%;
}

.eltd-header-centered-logo .eltd-main-menu.eltd-items-number-2 > ul > li {
  width: 50%;
}

.eltd-header-centered-logo .eltd-main-menu.eltd-items-number-3 > ul > li {
  width: 33.33%;
}

.eltd-header-centered-logo .eltd-main-menu.eltd-items-number-4 > ul > li {
  width: 25%;
}

.eltd-header-centered-logo .eltd-main-menu.eltd-items-number-5 > ul > li {
  width: 20%;
}

.eltd-header-centered-logo .eltd-main-menu.eltd-items-number-6 > ul > li {
  width: 16.66%;
}

.eltd-header-centered-logo .eltd-main-menu.eltd-items-number-7 > ul > li {
  width: 14.28%;
}

.eltd-header-centered-logo .eltd-main-menu.eltd-items-number-8 > ul > li {
  width: 12.5%;
}

.eltd-header-centered-logo .eltd-main-menu.eltd-items-number-9 > ul > li {
  width: 11.11%;
}

.eltd-header-centered-logo .eltd-main-menu.eltd-items-number-10 > ul > li {
  width: 10%;
}

/*# sourceMappingURL=ie9_modules.css.map */