@media only screen and (max-width: 1200px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-boxed .eltd-wrapper-inner,
  .eltd-boxed .eltd-footer-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-boxed .eltd-wrapper-inner,
  .eltd-boxed .eltd-footer-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-boxed .eltd-wrapper-inner,
  .eltd-boxed .eltd-footer-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-boxed .eltd-wrapper-inner,
  .eltd-boxed .eltd-footer-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-boxed .eltd-wrapper-inner,
  .eltd-boxed .eltd-footer-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-boxed .eltd-wrapper-inner,
  .eltd-boxed .eltd-footer-inner {
    width: 96%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-content {
    margin-top: 0px !important;
  }
  .eltd-two-columns-66-33 .eltd-column1,
  .eltd-two-columns-66-33 .eltd-column2,
  .eltd-two-columns-75-25 .eltd-column1,
  .eltd-two-columns-75-25 .eltd-column2,
  .eltd-two-columns-33-66 .eltd-column1,
  .eltd-two-columns-33-66 .eltd-column2,
  .eltd-two-columns-25-75 .eltd-column1,
  .eltd-two-columns-25-75 .eltd-column2 {
    width: 100%;
  }
  .eltd-two-columns-66-33 .eltd-column1 > .eltd-column-inner,
  .eltd-two-columns-66-33 .eltd-column2 > .eltd-column-inner,
  .eltd-two-columns-75-25 .eltd-column1 > .eltd-column-inner,
  .eltd-two-columns-75-25 .eltd-column2 > .eltd-column-inner,
  .eltd-two-columns-33-66 .eltd-column1 > .eltd-column-inner,
  .eltd-two-columns-33-66 .eltd-column2 > .eltd-column-inner,
  .eltd-two-columns-25-75 .eltd-column1 > .eltd-column-inner,
  .eltd-two-columns-25-75 .eltd-column2 > .eltd-column-inner {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-comment-list .children {
    padding-left: 50px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-comment-holder .eltd-comment-text .replay,
  .eltd-comment-holder .eltd-comment-text .comment-reply-link,
  .eltd-comment-holder .eltd-comment-text .comment-edit-link,
  .eltd-comment-holder .eltd-comment-text .eltd-comment-name,
  .eltd-comment-holder .eltd-comment-text .eltd-comment-date {
    width: 100%;
  }
  .eltd-comment-holder .eltd-comment-text .eltd-comment-arrow {
    display: none;
  }
  .eltd-comment-holder .eltd-comment-text .eltd-comment-date {
    padding: 0;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-section-inner-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
  .eltd-comment-list .children {
    padding-left: 20px;
  }
}

/*------------------------------------------------------------------
 * This is main responsive css file for theme. It is broken into following sections:
 * 1.  Header responsive styles
 * 2.  Footer responsive styles
 * 3.  Title area responsive styles
 * 4.  Fullscreen Menu functionality responsive styles
 * 5.  Search responsivefunctionality styles
 * 6.  Shortcodes responsive styles
 * 7.  Widgets responsive styles
-------------------------------------------------------------------*/
/* ==========================================================================
   1. Header responsive styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-page-header {
    display: none;
  }
  .eltd-mobile-header {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-drop-down .wide .second > .inner > ul {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-drop-down .wide .second > .inner > ul {
    width: 768px;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-boxed .eltd-page-header .eltd-sticky-header,
  .eltd-boxed .eltd-page-header .eltd-fixed-wrapper.fixed {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 96%;
  }
}

/* ==========================================================================
   2. Footer responsive styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-footer-top .eltd-four-columns .eltd-column {
    width: 50%;
  }
  .eltd-footer-top .eltd-six-columns .eltd-column {
    width: 33.33%;
  }
  .eltd-footer-top .eltd-two-columns-50-50 .eltd-column .eltd-footer-top-columns > div > .eltd-column {
    float: none;
    width: 100%;
  }
  .eltd-footer-top .eltd-four-columns .eltd-column:nth-child(3),
  .eltd-footer-top .eltd-six-columns .eltd-column:nth-child(4) {
    clear: left;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-footer-top .eltd-three-columns .eltd-column,
  .eltd-footer-top .eltd-five-columns .eltd-column {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-footer-top .eltd-two-columns-50-50 .eltd-column,
  .eltd-footer-top .eltd-four-columns .eltd-column,
  .eltd-footer-top .eltd-six-columns .eltd-column {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-footer-bottom-holder {
    padding-bottom: 20px;
  }
}

/* ==========================================================================
   3. Title area responsive styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-title.eltd-has-background {
    background: transparent none repeat scroll 0 0 !important;
    height: auto !important;
    padding: 0 !important;
  }
  .eltd-title.eltd-title-image-not-responsive .eltd-title-image {
    display: block;
  }
  .eltd-title .eltd-title-holder {
    height: 100% !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
  }
  .eltd-title .eltd-title-holder .eltd-container {
    display: block;
    height: 100%;
  }
  .eltd-title .eltd-title-holder .eltd-container-inner {
    display: table;
    height: 100%;
  }
  .eltd-title .eltd-title-holder .eltd-title-subtitle-holder {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .eltd-title .eltd-title-subtitle-holder {
    padding: 0px !important;
  }
  .eltd-title.eltd-standard-type .eltd-breadcrumbs-holder {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    margin-top: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-title .eltd-title-holder .eltd-separator-holder {
    margin-top: 30px !important;
  }
  .eltd-title .eltd-title-holder h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-title .eltd-title-holder h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-title .eltd-title-holder .eltd-separator-holder {
    display: none;
  }
  .eltd-title .eltd-title-holder h1 {
    font-size: 22px;
  }
}

/* ==========================================================================
   4. Fullscreen Menu functionality responsive style
   ========================================================================== */
@media only screen and (max-width: 480px) {
  .eltd-fullscreen-above-menu-widget-holder .eltd-social-share-holder li,
  .eltd-fullscreen-below-menu-widget-holder .eltd-social-share-holder li {
    display: block;
    margin: 20px 0;
  }
}

/* ==========================================================================
   5. Search responsivefunctionality styles
   ========================================================================== */
/* ==========================================================================
   6. Shortcodes responsive styles
   ========================================================================== */
/* Elements holders responsive styles
   ========================================================================== */
/* ==========================================================================
   Elements Holder Responsive start style
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-elements-holder .eltd-elements-holder-item-content {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

/* ==========================================================================
   End of Elements Holder Responsive style
   ========================================================================== */
/* Google map responsive styles
   ========================================================================== */
/* ==========================================================================
   Google Map start style
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */
/* Team responsive styles
   ========================================================================== */
/* ==========================================================================
# Team responsive style - begin
========================================================================== */
/* ==========================================================================
# Team responsive style - end
========================================================================== */
/* Counter responsive styles
   ========================================================================== */
/* ==========================================================================
# Counter responsive style - begin
========================================================================== */
/* ==========================================================================
# Counter responsive style - end
========================================================================== */
/* Countdown responsive styles
   ========================================================================== */
/* ==========================================================================
# Countdown responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .countdown-amount {
    font-size: 50px !important;
    line-height: 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-amount {
    font-size: 35px !important;
    line-height: 35px !important;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .countdown-period {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-period {
    font-size: 10px !important;
  }
}

/* ==========================================================================
# Countdown responsive style - end
========================================================================== */
/* Icon list item responsive styles
   ========================================================================== */
/* Pricing tables responsive styles
   ========================================================================== */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .eltd-vertical-menu-area .eltd-pricing-tables.eltd-four-columns .eltd-price-table {
    width: 48.75%;
    margin-bottom: 45px;
  }
  .eltd-vertical-menu-area .eltd-pricing-tables.eltd-four-columns .eltd-price-table:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
  .eltd-pricing-tables.eltd-four-columns .eltd-price-in-table .eltd-price {
    font-size: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-pricing-tables.eltd-four-columns .eltd-price-table {
    width: 48.75%;
    margin-bottom: 45px;
  }
  .eltd-pricing-tables.eltd-four-columns .eltd-price-table:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .eltd-pricing-tables.eltd-three-columns .eltd-price-table {
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-pricing-tables .eltd-price-table {
    width: 100% !important;
    margin-left: 0;
    margin-bottom: 40px;
  }
  .eltd-pricing-tables .eltd-price-table-inner ul,
  .eltd-pricing-tables .eltd-price-table-inner .eltd-table-prices {
    display: block;
    width: 100%;
  }
  .eltd-pricing-tables .eltd-price-table-inner ul > *,
  .eltd-pricing-tables .eltd-price-table-inner .eltd-table-prices > * {
    text-align: center;
  }
  .eltd-pricing-tables .eltd-price-table.eltd-active {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

/* Tabs responsive styles
   ========================================================================== */
@media only screen and (max-width: 600px) {
  .eltd-tabs .eltd-tabs-nav,
  .eltd-tabs .eltd-tab-container,
  .eltd-tabs.eltd-vertical .eltd-tabs-nav,
  .eltd-tabs.eltd-vertical .eltd-tab-container {
    width: 100%;
  }
  .eltd-tabs.eltd-vertical .eltd-tab-container {
    border-left: none;
    border-top: 1px solid #e3e3e3;
  }
  .eltd-tabs .eltd-tabs-nav li,
  .eltd-tabs.eltd-horizontal .eltd-tabs-nav li {
    float: none;
    display: block;
  }
  .eltd-tabs.eltd-horizontal .eltd-tabs-nav li,
  .eltd-tabs.eltd-horizontal .eltd-tabs-nav li:first-child {
    margin: 0 0 10px;
  }
  .eltd-tabs .eltd-tabs-nav li a {
    text-align: center;
    padding-right: 0;
  }
  .eltd-tabs-arrow {
    display: none;
  }
  .eltd-tabs .eltd-tabs-nav .eltd-tabs-text {
    left: 0;
  }
}

/* Accordions responsive styles
   ========================================================================== */
@media only screen and (max-width: 480px) {
  .eltd-accordion-holder div.eltd-accordion-content {
    padding: 0;
  }
  .eltd-accordion-holder span.eltd-tab-title {
    padding: 0 0 0 58px;
  }
}

/* Blog list responsive styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
  .eltd-blog-list-holder.eltd-boxes.eltd-three-columns > ul.eltd-blog-list > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .eltd-blog-list-holder.eltd-boxes.eltd-three-columns > ul.eltd-blog-list > li:nth-child(3n) {
    margin: 0 2% 25px 0;
  }
  .eltd-blog-list-holder.eltd-boxes.eltd-three-columns > ul.eltd-blog-list > li:nth-child(3n+1) {
    clear: none;
  }
  .eltd-blog-list-holder.eltd-boxes.eltd-three-columns > ul.eltd-blog-list > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .eltd-blog-list-holder.eltd-boxes.eltd-three-columns > ul.eltd-blog-list > li:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .eltd-vertical-menu-area .eltd-blog-list-holder.eltd-boxes.eltd-two-columns > ul > li,
  .eltd-vertical-menu-area .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .eltd-vertical-menu-area .eltd-blog-list-holder.eltd-boxes.eltd-two-columns > ul > li:nth-child(2n),
  .eltd-vertical-menu-area .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .eltd-vertical-menu-area .eltd-blog-list-holder.eltd-boxes.eltd-two-columns > ul > li:nth-child(2n+1),
  .eltd-vertical-menu-area .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li,
  .eltd-blog-list-holder.eltd-boxes.eltd-three-columns > ul > li,
  .eltd-blog-list-holder.eltd-boxes.eltd-two-columns > ul > li {
    width: 100% !important;
    margin: 0 0 25px !important;
  }
  .eltd-blog-list-holder.eltd-image-in-box .eltd-blog-list-item-inner {
    display: block;
  }
  .eltd-blog-list-holder.eltd-image-in-box .eltd-item-text-holder {
    display: block;
    padding: 20px 0;
  }
  .eltd-blog-list-holder.eltd-image-in-box .eltd-item-image {
    display: block;
    width: auto;
  }
}

/* Image gallery responsive styles
   ========================================================================== */
/* ==========================================================================
# Image Gallery - begin
========================================================================== */
/* Image Gallery Grid - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-2 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 24%;
    margin-right: 1.33333%;
    margin-bottom: 1.33333%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(4n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(4n+1) {
    clear: both;
    margin-right: 1.33333%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

/* Image Gallery Grid - end
========================================================================== */
/* Image Gallery Slider - begin
========================================================================== */
@media only screen and (max-width: 1200px) {
  .eltd-image-gallery .eltd-image-gallery-slider-item .eltd-image-slider-info-inner {
    padding: 12% 10%;
  }
  .eltd-image-gallery .eltd-image-gallery-slider-item .eltd-image-slider-info-holder h3 {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-image-gallery .eltd-image-gallery-slider-item {
    display: block;
  }
  .eltd-image-gallery .eltd-image-gallery-slider-item .eltd-image-gallery-slider-image,
  .eltd-image-gallery .eltd-image-gallery-slider-item .eltd-image-slider-info {
    display: block;
    width: 100%;
  }
  .eltd-image-gallery .eltd-image-gallery-slider-item .eltd-image-slider-info-inner {
    padding: 6% 6%;
    height: 300px;
  }
  .eltd-image-gallery .owl-buttons .owl-next {
    right: 2%;
  }
}

/* Image Gallery Slider - end
========================================================================== */
/* ==========================================================================
# Image Gallery - end
========================================================================== */
/* Portfolio responsive styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-portfolio-list-holder-outer.eltd-ptf-four-columns article {
    width: 50%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-five-columns article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-six-columns article {
    width: 33.33%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-four-columns.eltd-with-space article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-four-columns.eltd-with-space .eltd-gap {
    width: 48.67%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-five-columns.eltd-with-space article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-five-columns.eltd-with-space .eltd-gap {
    width: 32.08%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-six-columns.eltd-with-space article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-six-columns.eltd-with-space .eltd-gap {
    width: 32%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest-five-columns article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest-five-columns .eltd-portfolio-list-masonry-grid-sizer,
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest-four-columns article,
  .eltd-portfolio-list-holder-outer.eltd-ptf-pinterest-four-columns .eltd-portfolio-list-masonry-grid-sizer {
    width: 33.33%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry .eltd-portfolio-list-masonry-grid-sizer,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry article.eltd-default-masonry-item,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry article.eltd-large-height-masonry-item {
    width: 50%;
  }
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry .eltd-large-width-masonry-item,
  .eltd-portfolio-list-holder-outer.eltd-ptf-masonry .eltd-large-width-height-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-portfolio-list-holder-outer article,
  .eltd-portfolio-list-holder-outer .eltd-portfolio-list-masonry-grid-sizer {
    width: 100% !important;
  }
  .eltd-portfolio-filter-holder .eltd-portfolio-filter-holder-inner ul li {
    float: none;
    text-align: left;
  }
  .eltd-portfolio-filter-holder .eltd-portfolio-filter-holder-inner ul li span {
    padding-left: 0;
  }
}

/* Blog slider responsive styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-blog-slider-item .eltd-blog-slider-item-inner {
    padding: 50px 14%;
  }
  .eltd-blog-slider .owl-controls .owl-prev {
    left: 4%;
  }
  .eltd-blog-slider .owl-controls .owl-next {
    right: 4%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-blog-slider-item .eltd-item-text-holder {
    padding: 35px 40px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-slider-item .eltd-blog-slider-item-inner {
    padding: 10%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-blog-slider-item .eltd-excerpt,
  .eltd-blog-slider-item .eltd-separator-holder {
    display: none;
  }
}

/* Info table responsive styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-info-table.eltd-responsive-mode-1024 .eltd-info-table-row {
    display: block;
  }
  .eltd-info-table.eltd-responsive-mode-1024 .eltd-info-table-row .eltd-info-cell {
    width: 100%;
    display: inline-block;
    padding: 15px 0;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-info-table.eltd-responsive-mode-768 .eltd-info-table-row {
    display: block;
  }
  .eltd-info-table.eltd-responsive-mode-768 .eltd-info-table-row .eltd-info-cell {
    width: 100%;
    display: inline-block;
    padding: 15px 0;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-info-table.eltd-responsive-mode-600 .eltd-info-table-row {
    display: block;
  }
  .eltd-info-table.eltd-responsive-mode-600 .eltd-info-table-row .eltd-info-cell {
    width: 100%;
    display: inline-block;
    padding: 15px 0;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-info-table.eltd-responsive-mode-480 .eltd-info-table-row {
    display: block;
  }
  .eltd-info-table.eltd-responsive-mode-480 .eltd-info-table-row .eltd-info-cell {
    width: 100%;
    display: inline-block;
    padding: 15px 0;
  }
}

/* ==========================================================================
   7. Shortcodes responsive styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-instagram-feed.eltd-col-9 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-instagram-feed.eltd-col-4 li {
    width: 50%;
  }
  .eltd-instagram-feed.eltd-col-6 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-instagram-feed.eltd-col-4 li,
  .eltd-instagram-feed.eltd-col-3 li,
  .eltd-instagram-feed.eltd-col-6 li,
  .eltd-instagram-feed.eltd-col-9 li {
    width: 100%;
  }
}

/*# sourceMappingURL=modules-responsive.css.map */