/*------------------------------------------------------------------
 * This is main css file for print view.
 -------------------------------------------------------------------*/
@media only print {
  header, footer,
  .eltd-title,
  .eltd-print-holder,
  .eltd-page-header {
    display: none;
  }
  .eltd-container-inner {
    max-width: 80%;
  }
  div[class*='columns'] > div[class^='column'] {
    float: none;
    width: 100%;
  }
  html,
  body,
  .eltd-wrapper,
  .eltd-wrapper-inner .eltd-container,
  .eltd-container-inner {
    padding-top: 0 !important;
    margin-top: 0 !important;
    top: 0 !important;
  }
}

/*# sourceMappingURL=print.css.map */