
@media only screen and (min-width: 480px) and (max-width: 768px){
	/* generated in /var/www/html/newstudio/wp-content/themes/kreate/assets/custom-styles/general-custom-styles-responsive.php kreate_elated_design_responsive_styles function */
.eltd-section.eltd-parallax-section-holder { height: auto !important;min-height: 400px;}

}

@media only screen and (max-width: 600px){
	}

@media only screen and (max-width: 480px){
	/* generated in /var/www/html/newstudio/wp-content/themes/kreate/assets/custom-styles/general-custom-styles-responsive.php kreate_elated_design_responsive_styles function */
.eltd-section.eltd-parallax-section-holder { height: auto !important;min-height: 400px;}

}