/* generated in /var/www/html/newstudio/wp-content/themes/kreate/assets/custom-styles/general-custom-styles.php kreate_elated_design_styles function */
.eltd-preload-background { background-image: url(http://studio.evozon.com/wp-content/themes/kreate/assets/img/preload_pattern.png) !important;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/assets/custom-styles/general-custom-styles.php kreate_elated_design_styles function */
::selection { background: #a0d157;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/assets/custom-styles/general-custom-styles.php kreate_elated_design_styles function */
::-moz-selection { background: #a0d157;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/assets/custom-styles/general-custom-styles.php kreate_elated_design_styles function */
.eltd-boxed .eltd-wrapper { background-attachment: fixed;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_text_styles_1 function */
.cf7_custom_style_1 ::-webkit-input-placeholder { color: #1c1c1c;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_text_styles_1 function */
.cf7_custom_style_1 :-moz-placeholder { color: #1c1c1c;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_text_styles_1 function */
.cf7_custom_style_1 ::-moz-placeholder { color: #1c1c1c;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_text_styles_1 function */
.cf7_custom_style_1 :-ms-input-placeholder { color: #1c1c1c;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_text_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { color: #1c1c1c;background-color: rgba(178, 178, 178, 1);}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus::-webkit-input-placeholder, .cf7_custom_style_1 textarea:focus::-webkit-input-placeholder { color: #81d742;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus:-moz-placeholder, .cf7_custom_style_1 textarea:focus:-moz-placeholder { color: #81d742;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus::-moz-placeholder, .cf7_custom_style_1 textarea:focus::-moz-placeholder { color: #81d742;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus:-ms-input-placeholder, .cf7_custom_style_1 textarea:focus:-ms-input-placeholder { color: #81d742;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus { color: #81d742;background-color: rgba(129, 215, 66, 1);border-color: rgba(129, 215, 66, 1);}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_label_styles_1 function */
.cf7_custom_style_1 p { color: #1e1e1e;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_button_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit { color: #141414;font-size: 22px;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_button_hover_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #81d742;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/contactform7/custom-styles/contact-form.php kreate_elated_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz:focus { border-color: rgba(129, 215, 66, 1);}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/footer/custom-styles/footer.php kreate_elated_footer_style function */
.eltd-footer-bottom-holder .eltd-container-inner { border-top: 1px solid #434343;padding-top: 34px;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/fullscreenmenu/custom-styles/fullscreen-menu.php kreate_elated_fullscreen_menu_general_styles function */
.eltd-fullscreen-menu-holder { background-color: rgba(30,30,30,0.7);}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/header/custom-styles/header.inc kreate_elated_header_standard_menu_area_styles function */
.eltd-header-standard .eltd-page-header .eltd-menu-area { background-color: rgba(22, 22, 22, 0.7);}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/header/custom-styles/header.inc kreate_elated_sticky_header_styles function */
.eltd-page-header .eltd-sticky-header .eltd-sticky-holder { background-color: rgba(30, 30, 30, 0.7);}


        
        
        
        
        
        
        
                                .eltd-drop-down .narrow .second .inner ul li ul,
            body.eltd-slide-from-bottom .eltd-drop-down .narrow .second .inner ul li:hover ul,
            body.eltd-slide-from-top .narrow .second .inner ul li:hover ul{
            top:-10px;
            }

        
        
        
                    .eltd-drop-down .second .inner ul li a,
            .header-widget.widget_nav_menu ul.menu li ul li a {
            border-color: ;
            }
                
        

        

        
                    .eltd-drop-down .second .inner>ul,
            li.narrow .second .inner ul,
            .eltd-drop-down .narrow .second .inner ul li ul{
            border: none;
            }

            .eltd-drop-down .second .inner ul.right li ul{
            margin-left: 0;
            }

        
        
        
        
        
        
        
        
        
        
                
        
                
        /* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/shortcodes/button/custom-styles/custom-styles.php kreate_elated_button_outline_styles function */
.eltd-btn.eltd-btn-outline { border-color: #81d742;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/shortcodes/button/custom-styles/custom-styles.php kreate_elated_button_outline_styles function */
.eltd-btn.eltd-btn-outline:not(.eltd-btn-custom-border-hover):hover { border-color: #9ad66f!important;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/shortcodes/button/custom-styles/custom-styles.php kreate_elated_button_arrow_styles function */
.eltd-btn.eltd-btn-arrow { color: #81d742;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/shortcodes/button/custom-styles/custom-styles.php kreate_elated_button_arrow_styles function */
.eltd-btn.eltd-btn-arrow .eltd-btn-icon-arrow .eltd-line-1,
                                .eltd-btn.eltd-btn-arrow .eltd-btn-icon-arrow .eltd-line-2,
                                .eltd-btn.eltd-btn-arrow .eltd-btn-icon-arrow .eltd-line-3 { border-bottom-color: #81d742;}

/* generated in /var/www/html/newstudio/wp-content/themes/kreate/framework/modules/shortcodes/button/custom-styles/custom-styles.php kreate_elated_button_solid_styles function */
.eltd-btn.eltd-btn-solid:not(.eltd-btn-custom-hover-bg):hover { border-color: #81d742!important;}

