/*------------------------------------------------------------------
 * This is woocommerce css file for theme. It is broken into following sections:
 * 1.  Global styles
 * 2.  Product list styles
 * 3.  Pagination styles
 * 4.  Single product styles
 * 5.  Quantity buttons styles
 * 6.  Message styles
 * 7.  Table styles
 * 8.  Shipping calculator styles
 * 9.  Totals styles
 * 10. Checkout styles
 * 11. Dropdown shopping cart styles
 * 12. Price filter styles
 * 13. Product widget styles
 * 14. Select 2 styles
 * 15. Select 2 override styles
-------------------------------------------------------------------*/
/* 1. Global styles
   ========================================================================== */
@font-face {
  font-family: 'star';
  src: url("../../../plugins/woocommerce/assets/fonts/star.eot");
  src: url("../../../plugins/woocommerce/assets/fonts/star.eot?#iefix") format("embedded-opentype"), url("../../../plugins/woocommerce/assets/fonts/star.woff") format("woff"), url("../../../plugins/woocommerce/assets/fonts/star.ttf") format("truetype"), url("../../../plugins/woocommerce/assets/fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal;
}

body.woocommerce-cart .eltd-content-inner > .eltd-container,
body.woocommerce-checkout .eltd-content-inner > .eltd-container,
body.woocommerce-account .eltd-content-inner > .eltd-container {
  padding-bottom: 100px;
}

/* 2. Product list styles
========================================================================== */
.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering,
.eltd-woocommerce-page .woocommerce-result-count,
.eltd-woocommerce-page .woocommerce-ordering {
  width: 50%;
  height: 41px;
  margin: 0 0 27px 0;
  display: inline;
  float: left;
}

.woocommerce .woocommerce-result-count,
.eltd-woocommerce-page .woocommerce-result-count {
  line-height: 33px;
  font-weight: 600;
  color: #222222;
  font-size: 14px;
}

.woocommerce .full_width .woocommerce-result-count,
.eltd-woocommerce-page .full_width .woocommerce-result-count {
  position: relative;
  left: 45px;
}

.woocommerce .full_width .woocommerce-ordering,
.eltd-woocommerce-page .full_width .woocommerce-ordering {
  position: relative;
  right: 45px;
}

.woocommerce .products,
.eltd-woocommerce-page .products {
  list-style: none;
  margin: 0 0 26px;
  padding: 0;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.woocommerce .product,
.eltd-woocommerce-page .product {
  position: relative;
  float: left;
  text-align: left;
  border-style: solid;
  border-color: #e1e2e5;
}

.woocommerce .product img,
.eltd-woocommerce-page .product img {
  display: block;
  width: 100%;
}

.woocommerce .product .eltd-product-title,
.eltd-woocommerce-page .product .eltd-product-title {
  display: inline-block;
  margin-bottom: 15px;
}

.woocommerce .product .price,
.eltd-woocommerce-page .product .price {
  font-size: 33px;
  line-height: 1em;
  font-weight: 300;
  display: block;
  color: #222222;
  font-family: 'Lato', sans-serif;
  width: 100%;
}

.woocommerce .product .price ins,
.eltd-woocommerce-page .product .price ins {
  text-decoration: none;
  float: left;
  margin-right: 15px;
}

.woocommerce .product .price del,
.eltd-woocommerce-page .product .price del {
  font-size: 14px;
  line-height: 1.5em;
  vertical-align: top;
}

.woocommerce .product .price del span,
.eltd-woocommerce-page .product .price del span {
  vertical-align: top;
}

.woocommerce .product .eltd-onsale,
.woocommerce .product .eltd-out-of-stock,
.eltd-woocommerce-page .product .eltd-onsale,
.eltd-woocommerce-page .product .eltd-out-of-stock {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  text-align: center;
  z-index: 100;
  color: #fff;
  background-color: #01b1ae;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.woocommerce .product .eltd-onsale-inner,
.woocommerce .product .eltd-out-of-stock-inner,
.eltd-woocommerce-page .product .eltd-onsale-inner,
.eltd-woocommerce-page .product .eltd-out-of-stock-inner {
  display: table-cell;
  vertical-align: middle;
}

.woocommerce .eltd-top-product-section,
.eltd-woocommerce-page .eltd-top-product-section {
  position: relative;
}

.woocommerce .eltd-top-product-section > a.eltd-product-link,
.eltd-woocommerce-page .eltd-top-product-section > a.eltd-product-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.woocommerce .eltd-top-product-section > a.eltd-product-link .eltd-image-wrapper,
.eltd-woocommerce-page .eltd-top-product-section > a.eltd-product-link .eltd-image-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(0) rotateY(0);
  -moz-transform: rotateX(0) rotateY(0);
  transform: rotateX(0) rotateY(0);
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.woocommerce .eltd-top-product-section > a.eltd-product-link .eltd-single-product-hover-image,
.eltd-woocommerce-page .eltd-top-product-section > a.eltd-product-link .eltd-single-product-hover-image {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  -webkit-transform: rotateX(0) rotateY(180deg);
  -moz-transform: rotateX(0) rotateY(180deg);
  transform: rotateX(0) rotateY(180deg);
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.woocommerce .eltd-top-product-section > a.eltd-product-link:hover .eltd-image-wrapper,
.eltd-woocommerce-page .eltd-top-product-section > a.eltd-product-link:hover .eltd-image-wrapper {
  -webkit-transform: rotateX(0) rotateY(-180deg);
  -moz-transform: rotateX(0) rotateY(-180deg);
  transform: rotateX(0) rotateY(-180deg);
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
}

.woocommerce .eltd-top-product-section > a.eltd-product-link:hover .eltd-single-product-hover-image,
.eltd-woocommerce-page .eltd-top-product-section > a.eltd-product-link:hover .eltd-single-product-hover-image {
  z-index: 10;
  -webkit-transform: rotateX(0) rotateY(0deg);
  -moz-transform: rotateX(0) rotateY(0deg);
  transform: rotateX(0) rotateY(0deg);
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
}

.woocommerce .eltd-top-product-section .eltd-loop-add-to-cart,
.eltd-woocommerce-page .eltd-top-product-section .eltd-loop-add-to-cart {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  color: #222222;
  text-align: center;
  font-size: 25px;
  opacity: 0;
  z-index: 20;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.woocommerce .eltd-top-product-section:hover .eltd-loop-add-to-cart,
.eltd-woocommerce-page .eltd-top-product-section:hover .eltd-loop-add-to-cart {
  opacity: 1;
}

.woocommerce .eltd-top-product-section .added_to_cart,
.eltd-woocommerce-page .eltd-top-product-section .added_to_cart {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  z-index: 20;
  background-color: #fff;
}

.woocommerce .eltd-product-content,
.eltd-woocommerce-page .eltd-product-content {
  background-color: #fff;
  padding: 30px 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.woocommerce .eltd-product-content .eltd-product-categories,
.eltd-woocommerce-page .eltd-product-content .eltd-product-categories {
  margin-bottom: 7px;
}

.woocommerce.columns-4 .products .product,
.eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product {
  width: 24%;
  margin-right: 1.3333333%;
  margin-bottom: 2%;
}

.woocommerce.columns-4 .products .product:nth-child(4n),
.eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product:nth-child(4n) {
  margin-right: 0;
}

.woocommerce.columns-4 .products .product:nth-child(4n+1),
.eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product:nth-child(4n+1) {
  clear: both;
}

.woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product,
.eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n),
.eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n) {
  margin-right: 0;
}

.woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n+1),
.eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: both;
}

.woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(4n+1),
.eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
  clear: none;
}

.woocommerce.columns-3 .products .product,
.eltd-woocommerce-page.eltd-woocommerce-columns-3 .products .product {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.woocommerce.columns-3 .products .product:nth-child(3n),
.eltd-woocommerce-page.eltd-woocommerce-columns-3 .products .product:nth-child(3n) {
  margin-right: 0;
}

.woocommerce.columns-3 .products .product:nth-child(3n+1),
.eltd-woocommerce-page.eltd-woocommerce-columns-3 .products .product:nth-child(3n+1) {
  clear: both;
}

.woocommerce.columns-3 .eltd-woocommerce-with-sidebar .products .product,
.eltd-woocommerce-page.eltd-woocommerce-columns-3 .eltd-woocommerce-with-sidebar .products .product {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.woocommerce.columns-3 .eltd-woocommerce-with-sidebar .products .product:nth-child(2n),
.eltd-woocommerce-page.eltd-woocommerce-columns-3 .eltd-woocommerce-with-sidebar .products .product:nth-child(2n) {
  margin-right: 0;
}

.woocommerce.columns-3 .eltd-woocommerce-with-sidebar .products .product:nth-child(2n+1),
.eltd-woocommerce-page.eltd-woocommerce-columns-3 .eltd-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
  clear: both;
}

.woocommerce.columns-3 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n+1),
.eltd-woocommerce-page.eltd-woocommerce-columns-3 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: none;
}

/* 3. Pagination styles
========================================================================== */
.woocommerce-pagination {
  position: relative;
  display: block;
  vertical-align: middle;
  text-align: center;
  width: auto;
  margin-top: 35px;
  margin-bottom: 85px;
}

.woocommerce-pagination .page-numbers {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.woocommerce-pagination .page-numbers li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 2px 4px 2px;
  float: left;
}

.woocommerce-pagination .page-numbers li > a,
.woocommerce-pagination .page-numbers li > span {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: content-box;
  color: #222;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out;
}

.woocommerce-pagination .page-numbers li span.current,
.woocommerce-pagination .page-numbers li a:hover,
.woocommerce-pagination .page-numbers li span:hover,
.woocommerce-pagination .page-numbers li span.current:hover {
  background-color: #fff;
  color: #01b1ae;
}

/* 4. Single product styles
========================================================================== */
.eltd-single-product-images {
  width: 55%;
  margin-right: 5%;
  display: inline-block;
  float: left;
}

.eltd-single-product-images a {
  display: inline-block;
}

.eltd-single-product-images .thumbnails a {
  float: left;
  width: 23.8%;
  margin-right: 1.6%;
  margin-bottom: 1.6%;
}

.eltd-single-product-images .thumbnails a:nth-child(4n) {
  margin-right: 0;
}

.eltd-single-product-images .images {
  width: 100%;
}

.eltd-single-product-images .owl-buttons .owl-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 2%;
}

.eltd-single-product-images .owl-buttons .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2%;
}

.eltd-single-product-images .owl-buttons .eltd-prev-icon,
.eltd-single-product-images .owl-buttons .eltd-next-icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  background-color: #222;
}

.eltd-single-product-images .owl-buttons .eltd-prev-icon i,
.eltd-single-product-images .owl-buttons .eltd-next-icon i {
  font-size: 17px;
  color: #fff;
  vertical-align: middle;
  display: inline-block;
  margin-top: 3px;
}

.eltd-single-product-summary {
  width: 40%;
  display: inline-block;
  float: left;
}

.eltd-single-product-summary .eltd-product-categories {
  margin-bottom: 20px;
}

.eltd-single-product-summary .eltd-single-product-title {
  margin-bottom: 20px;
}

.eltd-single-product-summary .price {
  margin-bottom: 29px;
}

.eltd-single-product-summary .cart {
  margin: 40px 0;
}

.eltd-single-product-summary .product_meta > span {
  display: block;
  margin-bottom: 3px;
}

.eltd-single-product-summary .summary .price {
  font-size: 70px;
}

.eltd-single-product-summary .summary .price del {
  font-size: 33px;
}

.eltd-single-product-summary #comments h2 {
  display: none;
}

.eltd-single-product-summary .commentlist {
  list-style-type: none;
}

.eltd-single-product-summary .commentlist .comment_container {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.eltd-single-product-summary .commentlist .comment_container img {
  float: left;
  width: 60px;
}

.eltd-single-product-summary .commentlist .comment_container .comment-text {
  float: left;
  width: calc(100% - 80px);
  margin-left: 20px;
}

.eltd-single-product-summary #reviews p.stars {
  height: 16px;
  margin-top: 5px;
}

.eltd-single-product-summary #reviews p.stars span {
  width: 80px;
  height: 16px;
  position: relative;
  float: left;
  background: url(img/star.png) repeat-x left 0;
}

.eltd-single-product-summary #reviews .star-1 {
  width: 16px;
  z-index: 5;
}

.eltd-single-product-summary #reviews .star-2 {
  width: 32px;
  z-index: 4;
}

.eltd-single-product-summary #reviews .star-3 {
  width: 48px;
  z-index: 3;
}

.eltd-single-product-summary #reviews .star-4 {
  width: 64px;
  z-index: 2;
}

.eltd-single-product-summary #reviews .star-5 {
  width: 80px;
  z-index: 1;
}

.eltd-single-product-summary #reviews p.stars a {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}

.eltd-single-product-summary #reviews p.stars a:hover, .eltd-single-product-summary #reviews p.stars a.active {
  background: url(img/star.png) repeat-x left -16px;
}

.eltd-single-product-summary #reviews .comment-form-rating {
  margin-bottom: 17px;
}

.eltd-single-product-summary .form-submit:before {
  content: '\e068';
  font-size: 25px;
  font-family: 'linea-arrows-10';
  vertical-align: middle;
}

.eltd-single-product-summary input[type='submit'] {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 26px;
  line-height: 26px;
  border: none;
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  color: #222222;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.eltd-single-product-summary input[type='submit']:hover {
  color: #01b1ae;
}

.eltd-woocommerce-page .eltd-tabs {
  clear: both;
}

.eltd-woocommerce-page .woocommerce-product-rating {
  margin-bottom: 17px;
}

.eltd-woocommerce-page .woocommerce-product-rating .woocommerce-review-link {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #222222;
}

.eltd-woocommerce-page .woocommerce-product-rating .woocommerce-review-link:hover {
  color: #01b1ae;
}

.eltd-woocommerce-page .star-rating {
  position: relative;
  overflow: hidden;
  height: 1.3em;
  line-height: 1.3em;
  font-size: 1.1em;
  width: 5em;
  font-family: 'simple-line-icons';
  color: #01b1ae;
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
}

.eltd-woocommerce-page .star-rating:before {
  content: "\e09b\e09b\e09b\e09b\e09b";
  color: #222222;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}

.eltd-woocommerce-page .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.eltd-woocommerce-page .star-rating span:before {
  content: "\e09b\e09b\e09b\e09b\e09b";
  top: 0;
  position: absolute;
  left: 0;
}

.eltd-woocommerce-page .single_add_to_cart_button.eltd-btn {
  border: none;
  color: #222222;
  height: 47px;
}

.eltd-woocommerce-page .single_add_to_cart_button.eltd-btn:hover {
  color: #01b1ae !important;
  background-color: transparent !important;
}

.eltd-woocommerce-page .related.products {
  text-align: center;
  margin: 82px 0 46px;
}

/* 5. Quantity buttons styles
========================================================================== */
.eltd-woocommerce-page .eltd-quantity-buttons {
  display: inline-block;
  vertical-align: middle;
}

.eltd-woocommerce-page .eltd-quantity-buttons .eltd-quantity-minus,
.eltd-woocommerce-page .eltd-quantity-buttons .eltd-quantity-plus {
  width: 47px;
  height: 47px;
  display: inline-block;
  font-size: 25px;
  line-height: 47px;
  text-align: center;
  cursor: pointer;
}

.eltd-woocommerce-page .eltd-quantity-buttons .eltd-quantity-input {
  height: 47px;
  width: 47px;
  display: inline-block;
  padding: 0;
  border: none;
  text-align: center;
  font-size: 33px;
  line-height: 47px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  outline: none;
}

/* 6. Message styles
========================================================================== */
.eltd-woocommerce-page .woocommerce-message,
.eltd-woocommerce-page .woocommerce-info,
.eltd-woocommerce-page .woocommerce-error {
  margin-bottom: 25px;
  position: relative;
  display: block;
  padding: 8px 40px;
  background-color: #fff;
  line-height: 50px;
  font-size: 16px;
}

.eltd-woocommerce-page .woocommerce-message a {
  float: right;
}

/* 7. Table styles
========================================================================== */
.eltd-woocommerce-page .coupon input[type="text"], .eltd-woocommerce-page input[type="text"],
.eltd-woocommerce-page input[type="email"],
.eltd-woocommerce-page input[type="tel"],
.eltd-woocommerce-page input[type="password"],
.eltd-woocommerce-page textarea {
  width: 100%;
  padding: 12px 16px 13px;
  border: 1px solid #e3e3e3;
  outline: 0;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  background-color: #fff;
  color: #222222;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.eltd-woocommerce-page input[type="text"]:-moz-placeholder,
.eltd-woocommerce-page input[type="email"]:-moz-placeholder,
.eltd-woocommerce-page input[type="tel"]:-moz-placeholder,
.eltd-woocommerce-page input[type="password"]:-moz-placeholder,
.eltd-woocommerce-page textarea:-moz-placeholder {
  color: #222222;
}

.eltd-woocommerce-page .coupon input[type="text"]::-moz-placeholder, .eltd-woocommerce-page input[type="text"]::-moz-placeholder,
.eltd-woocommerce-page input[type="email"]::-moz-placeholder,
.eltd-woocommerce-page input[type="tel"]::-moz-placeholder,
.eltd-woocommerce-page input[type="password"]::-moz-placeholder,
.eltd-woocommerce-page textarea::-moz-placeholder {
  color: #222222;
  opacity: 1;
}

.eltd-woocommerce-page input[type="text"]:-ms-input-placeholder,
.eltd-woocommerce-page input[type="email"]:-ms-input-placeholder,
.eltd-woocommerce-page input[type="tel"]:-ms-input-placeholder,
.eltd-woocommerce-page input[type="password"]:-ms-input-placeholder,
.eltd-woocommerce-page textarea:-ms-input-placeholder {
  color: #222222;
}

.eltd-woocommerce-page .coupon input[type="text"]::-webkit-input-placeholder, .eltd-woocommerce-page input[type="text"]::-webkit-input-placeholder,
.eltd-woocommerce-page input[type="email"]::-webkit-input-placeholder,
.eltd-woocommerce-page input[type="tel"]::-webkit-input-placeholder,
.eltd-woocommerce-page input[type="password"]::-webkit-input-placeholder,
.eltd-woocommerce-page textarea::-webkit-input-placeholder {
  color: #222222;
}

.eltd-woocommerce-page input[type="text"]:focus,
.eltd-woocommerce-page input[type="email"]:focus,
.eltd-woocommerce-page input[type="tel"]:focus,
.eltd-woocommerce-page input[type="password"]:focus,
.eltd-woocommerce-page textarea:focus {
  border: 1px solid #01b1ae;
}

.eltd-woocommerce-page table.cart tr:last-child {
  border: none;
}

.eltd-woocommerce-page table td {
  vertical-align: middle;
}

.eltd-woocommerce-page td.product-thumbnail img {
  width: 80px;
}

.eltd-woocommerce-page td.product-remove {
  border-right: 1px solid #e0dede;
}

.eltd-woocommerce-page td.actions {
  padding: 25px 0;
}

.eltd-woocommerce-page td.actions .coupon,
.eltd-woocommerce-page td.actions .eltd-cart-proceed-update {
  float: left;
  width: 50%;
  display: inline-block;
  text-align: left;
}

.eltd-woocommerce-page td.actions .eltd-cart-proceed-update {
  text-align: right;
}

.eltd-woocommerce-page .coupon label {
  display: none;
}

.eltd-woocommerce-page .coupon input[type="text"] {
  width: 200px;
}

.eltd-woocommerce-page .coupon input[type="submit"] {
  vertical-align: top;
}

.eltd-woocommerce-page fieldset {
  margin-top: 15px;
}

.eltd-woocommerce-page .checkout_coupon {
  margin-bottom: 20px;
}

.eltd-woocommerce-page .checkout_coupon .form-row {
  float: left;
  margin-right: 10px;
}

.eltd-woocommerce-page .checkout_coupon input[type="text"] {
  width: 200px;
}

.eltd-woocommerce-page .checkout_coupon input[type="submit"].button {
  margin-top: 0;
}

.eltd-woocommerce-page input[type="submit"].button {
  border: 1px solid #01b1ae;
  color: #01b1ae;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-family: inherit;
  padding: 9px 15px;
  line-height: 1.7em;
  letter-spacing: 0.5px;
  margin-top: 20px;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.eltd-woocommerce-page input[type="submit"].button:hover {
  color: #fff;
  background-color: #01b1ae;
}

.eltd-woocommerce-page .woocommerce-checkout-review-order-table {
  margin-bottom: 20px;
}

.eltd-woocommerce-page .woocommerce-checkout-review-order-table tfoot {
  border: 1px solid #e3e3e3;
}

.eltd-woocommerce-page .payment_methods {
  list-style-type: none;
  margin-bottom: 20px;
}

.eltd-woocommerce-page .payment_methods li {
  margin-bottom: 15px;
}

.eltd-woocommerce-page .payment_methods .payment_method_paypal img {
  display: block;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1 .form-row.create-account label {
  display: inline-block;
}

.eltd-woocommerce-page.woocommerce-account .myaccount_user {
  margin-bottom: 30px;
}

.eltd-woocommerce-page.woocommerce-account .address {
  float: left;
  width: 50%;
  margin-bottom: 30px;
}

.eltd-woocommerce-page.woocommerce-account h2,
.eltd-woocommerce-page.woocommerce-account .myaccount_address {
  margin-bottom: 15px;
}

.eltd-woocommerce-page .shop_attributes th,
.eltd-woocommerce-page .shop_attributes td {
  text-align: left;
}

/* 8. Shipping calculator styles
========================================================================== */
.eltd-woocommerce-page .eltd-shipping-calculator {
  width: 50%;
  display: inline-block;
  float: left;
}

.eltd-woocommerce-page .eltd-shipping-calculator .form-row {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left;
}

.eltd-woocommerce-page .eltd-shipping-calculator .form-row-last {
  margin-right: 0;
}

.eltd-woocommerce-page .eltd-shipping-calculator .form-row-wide {
  width: 100%;
}

/* 9. Totals styles
========================================================================== */
.eltd-woocommerce-page .eltd-cart-totals {
  width: 30%;
  display: inline-block;
  float: right;
}

.eltd-woocommerce-page .eltd-cart-totals table tr {
  border: none;
}

.eltd-woocommerce-page .eltd-cart-totals table th {
  border: none;
}

/* 10. Checkout styles
========================================================================== */
.eltd-woocommerce-page .woocommerce-checkout .col2-set:before,
.eltd-woocommerce-page .woocommerce-checkout .col2-set:after {
  content: '';
  display: table;
}

.eltd-woocommerce-page .woocommerce-checkout .col2-set:after {
  clear: both;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1,
.eltd-woocommerce-page .woocommerce-checkout .col-2 {
  width: 49%;
  margin-right: 1%;
  display: inline-block;
  float: left;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1 h3,
.eltd-woocommerce-page .woocommerce-checkout .col-2 h3 {
  margin-bottom: 20px;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1 .form-row,
.eltd-woocommerce-page .woocommerce-checkout .col-2 .form-row {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1 .form-row-last,
.eltd-woocommerce-page .woocommerce-checkout .col-2 .form-row-last {
  margin-right: 0;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1 .form-row-wide,
.eltd-woocommerce-page .woocommerce-checkout .col-1 .form-row.notes,
.eltd-woocommerce-page .woocommerce-checkout .col-2 .form-row-wide,
.eltd-woocommerce-page .woocommerce-checkout .col-2 .form-row.notes {
  width: 100%;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1 .form-row label,
.eltd-woocommerce-page .woocommerce-checkout .col-2 .form-row label {
  display: none;
}

.eltd-woocommerce-page .woocommerce-checkout .col-2 {
  margin-left: 1%;
  margin-right: 0;
}

/* 11. Dropdown shopping cart styles
========================================================================== */
.eltd-shopping-cart-outer {
  height: 100%;
  display: table;
}

.eltd-shopping-cart-outer .eltd-shopping-cart-inner {
  display: table-cell;
  vertical-align: middle;
}

.eltd-shopping-cart-outer .eltd-shopping-cart-header {
  display: inline-block;
}

.eltd-shopping-cart-outer .eltd-shopping-cart-header .eltd-header-cart {
  display: inline-block;
  position: relative;
  color: #fff;
}

.eltd-shopping-cart-outer .eltd-shopping-cart-header .eltd-header-cart i {
  color: #fff;
  font-size: 29px;
  -webkit-transition: inital;
  -moz-transition: inital;
  transition: inital;
}

.eltd-shopping-cart-outer .eltd-shopping-cart-header .eltd-cart-label {
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
  margin: 0 0 0 5px;
}

.eltd-shopping-cart-outer .eltd-shopping-cart-header .eltd-cart-no {
  font-size: 11px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  position: absolute;
  left: 50%;
  bottom: 2px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.eltd-shopping-cart-dropdown {
  background-color: #141414;
  box-sizing: border-box;
  left: auto;
  position: absolute;
  right: -1px;
  top: 100%;
  z-index: 1000;
  width: 280px;
  visibility: hidden;
  border-top: 1px solid #01b1ae;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.eltd-shopping-cart-dropdown ul li {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  padding: 0 15px 20px;
  box-sizing: border-box;
}

.eltd-shopping-cart-dropdown ul li a {
  display: block;
}

.eltd-shopping-cart-dropdown ul li a:hover {
  color: #01b1ae;
}

.eltd-shopping-cart-dropdown ul li:first-child {
  padding-top: 15px;
}

.eltd-shopping-cart-dropdown ul li:last-child {
  padding-bottom: 15px;
}

.eltd-shopping-cart-dropdown ul li .eltd-item-image-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  width: 80px;
}

.eltd-shopping-cart-dropdown ul li .eltd-item-image-holder img {
  vertical-align: middle;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding-left: 15px;
  text-align: left;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder .eltd-item-left {
  float: left;
  max-width: 140px;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder .eltd-item-left a {
  margin: 0 0 10px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder .eltd-item-left:hover {
  color: #01b1ae;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder .eltd-item-left .amount {
  color: #fff;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder .eltd-item-right {
  float: right;
  text-align: right;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder .eltd-item-right .remove {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.eltd-shopping-cart-dropdown span.eltd-total span {
  color: #01b1ae;
  font-weight: 600;
  padding: 0 0 0 2px;
  letter-spacing: 0;
}

.eltd-shopping-cart-dropdown .eltd-empty-cart {
  border: none;
  padding: 15px;
  color: #fff;
}

.eltd-shopping-cart-dropdown .eltd-empty-cart .eltd-cart-icon-empty {
  color: #01b1ae;
  font-size: 19px;
  margin-right: 7px;
  vertical-align: middle;
}

.eltd-shopping-cart-dropdown .eltd-empty-cart .eltd-cart-button {
  display: inline-block;
  float: right;
}

.eltd-shopping-cart-dropdown .eltd-cart-list a > img {
  display: block;
}

.eltd-shopping-cart-dropdown span.eltd-quantity {
  color: #01b1ae;
  font-weight: 600;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .view-cart {
  float: left;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .checkout {
  float: right;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .eltd-subtotal-holder {
  padding: 15px 20px;
  color: #fff;
  border-top: 1px solid #2c2c2c;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .eltd-subtotal-holder .eltd-total {
  float: left;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .eltd-subtotal-holder .eltd-total-amount {
  float: right;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .eltd-btns-holder {
  padding: 15px 20px;
  border-top: 1px solid #2c2c2c;
}

.eltd-shopping-cart-outer:hover .eltd-shopping-cart-dropdown {
  display: block;
  visibility: visible;
  text-align: left;
}

.eltd-sticky-header .eltd-shopping-cart-dropdown {
  top: calc(100% - 1px);
}

.eltd-top-bar .eltd-shopping-cart-outer {
  float: left;
  position: relative;
  height: 40px;
  line-height: 40px;
}

.eltd-top-bar .eltd-shopping-cart-outer .eltd-shopping-cart-inner {
  display: block;
  height: 100%;
}

.eltd-top-bar .eltd-shopping-cart-outer .eltd-shopping-cart-header {
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .eltd-dark-header :not(.eltd-sticky-header) .eltd-shopping-cart-header .eltd-header-cart > i,
  .eltd-dark-header :not(.eltd-sticky-header) .eltd-shopping-cart-header .eltd-header-cart > span {
    color: #000000;
  }
  .eltd-light-header :not(.eltd-sticky-header) .eltd-shopping-cart-header .eltd-header-cart > i,
  .eltd-light-header :not(.eltd-sticky-header) .eltd-shopping-cart-header .eltd-header-cart > span {
    color: #ffffff;
  }
}

.eltd-vertical-align-containers .eltd-shopping-cart-header {
  padding: 0 10px;
}

.eltd-vertical-align-containers .eltd-shopping-cart-header i {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.eltd-vertical-menu-area .eltd-shopping-cart-dropdown {
  right: auto;
}

/* 12. Price filter styles
========================================================================== */
.woocommerce.widget_price_filter h4 {
  margin-bottom: 35px;
}

.woocommerce.widget_price_filter .eltd-separator-holder {
  display: none;
}

.woocommerce.widget_price_filter .price_slider {
  height: 1px;
  position: relative;
  background-color: #c0c0c0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.woocommerce.widget_price_filter .price_slider .ui-slider-range {
  position: absolute;
  height: 100%;
  background-color: #222;
}

.woocommerce.widget_price_filter .price_slider .ui-slider-handle {
  position: absolute;
  top: -6px;
  width: 37px;
  height: 13px;
  background-image: url("img/filter-handle.png");
}

.woocommerce.widget_price_filter .price_slider .ui-slider-handle:last-child {
  margin-left: -37px;
}

.woocommerce.widget_price_filter .price_slider_amount {
  margin-top: 22px;
}

.woocommerce.widget_price_filter .price_slider_amount button {
  float: right;
  position: relative;
  font-weight: 600;
  font-family: inherit;
  height: 30px;
  padding: 0 10px;
  letter-spacing: 1px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.woocommerce.widget_price_filter .price_slider_amount button:before {
  content: '\e068';
  font-size: 25px;
  font-family: 'linea-arrows-10';
  vertical-align: middle;
  margin-right: 10px;
  font-weight: 400;
}

.woocommerce.widget_price_filter .price_slider_amount button:hover {
  color: #01b1ae;
}

.woocommerce.widget_price_filter .price_slider_amount .price_label {
  line-height: 30px;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

/* 13. Product widget styles
========================================================================== */
.widget .product_list_widget {
  list-style-type: none;
}

.widget .product_list_widget li {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  margin-bottom: 20px;
}

.widget .product_list_widget li:last-child {
  margin-bottom: 0;
}

.widget .product_list_widget li > a {
  display: table-cell;
  width: 120px;
  vertical-align: middle;
}

.widget .product_list_widget li > a img {
  vertical-align: middle;
}

.widget .product_list_widget li .eltd-product-list-widget-info {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  padding-left: 23px;
}

.widget .product_list_widget li .eltd-product-categories {
  margin-bottom: 2px;
}

.widget .product_list_widget li .product-title {
  margin-bottom: 9px;
}

.widget .product_list_widget li .amount {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 27px;
}

.widget .product_list_widget li ins {
  text-decoration: none;
}

.widget .product_list_widget li ins .amount {
  vertical-align: text-top;
}

.widget .product_list_widget li del .amount {
  font-size: 14px;
  vertical-align: top;
}

.widget.widget_recent_reviews .product_list_widget li {
  display: block;
  text-align: center;
}

.widget.widget_recent_reviews .product_list_widget li > a {
  display: block;
  width: auto;
  font-size: 18px;
}

.widget.widget_recent_reviews .product_list_widget li > a img {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

/* 14. Select 2 styles
========================================================================== */
/*
Version: 3.5.4 Timestamp: Sun Aug 30 13:30:32 EDT 2015
*/
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
	  Force border-box so that % widths fit the parent
	  container without overlap because of margin/padding.
	  More Info : http://www.quirksmode.org/css/box.html
	*/
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}

.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
}

html[dir="rtl"] .select2-container .select2-choice {
  padding: 0 8px 0 0;
}

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  border-radius: 0 0 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(to bottom, #eee 0%, #fff 90%);
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: none;
  width: auto;
}

html[dir="rtl"] .select2-container .select2-choice > .select2-chosen {
  margin-left: 26px;
  margin-right: 0;
}

.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb;
}

.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 12px;
  top: 0;
  border-left: 1px solid #aaa;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
  background-image: linear-gradient(to top, #ccc 0%, #eee 60%);
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow {
  left: 0;
  right: auto;
  border-left: none;
  border-right: 1px solid #aaa;
  border-radius: 4px 0 0 4px;
}

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow b {
  background-position: 2px 1px;
}

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding: 4px 4px 0 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}

.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

html[dir="rtl"] .select2-search input {
  padding: 4px 5px 4px 20px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(to top, #fff 0%, #eee 50%);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
}

.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow {
  border-right: none;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -16px 1px;
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* results */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
}

html[dir="rtl"] .select2-results {
  padding: 0 4px 0 0;
  margin: 4px 0 4px 4px;
}

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-results-dept-1 .select2-result-label {
  padding-left: 20px;
}

.select2-results-dept-2 .select2-result-label {
  padding-left: 40px;
}

.select2-results-dept-3 .select2-result-label {
  padding-left: 60px;
}

.select2-results-dept-4 .select2-result-label {
  padding-left: 80px;
}

.select2-results-dept-5 .select2-result-label {
  padding-left: 100px;
}

.select2-results-dept-6 .select2-result-label {
  padding-left: 110px;
}

.select2-results-dept-7 .select2-result-label {
  padding-left: 120px;
}

.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}

.select2-results li em {
  background: #feffde;
  font-style: normal;
}

.select2-results .select2-highlighted em {
  background: transparent;
}

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
  display: none;
}

.select2-more-results.select2-active {
  background: #f4f4f4 url("select2-spinner.gif") no-repeat 100%;
}

.select2-results .select2-ajax-error {
  background: rgba(255, 50, 50, 0.2);
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}

html[dir="rtl"] .select2-container-multi .select2-choices {
  padding: 0 0 0 5px;
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
  min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

html[dir="rtl"] .select2-container-multi .select2-choices li {
  float: right;
}

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url("select2-spinner.gif") no-repeat 100% !important;
}

.select2-default {
  color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 18px 3px 5px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
}

html[dir="rtl"] .select2-search-choice-close {
  right: auto;
  left: 3px;
}

.select2-container-multi .select2-search-choice-close {
  left: 3px;
}

html[dir="rtl"] .select2-container-multi .select2-search-choice-close {
  left: auto;
  right: 2px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}

/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

.select2-display-none {
  display: none;
}

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .select2-search input,
  .select2-search-choice-close,
  .select2-container .select2-choice abbr,
  .select2-container .select2-choice .select2-arrow b {
    background-image: url("select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }
  .select2-search input {
    background-position: 100% -21px !important;
  }
}

/* 15. Select 2 override styles
========================================================================== */
.eltd-woocommerce-page .select2-container .select2-choice {
  height: 40px;
  padding-left: 17px;
  border: 1px solid #e3e3e3;
  line-height: 40px;
  color: #222222;
  border-radius: 0;
  background-color: #fff;
  background-image: none;
}

.eltd-woocommerce-page .select2-container .select2-choice .select2-arrow {
  width: 20px;
  height: 100%;
  position: absolute;
  right: 12px;
  top: 0;
  border-left: none;
  border-radius: 0;
  background: transparent;
  background-image: none;
}

.eltd-woocommerce-page .select2-container .select2-choice .select2-arrow b:after {
  color: #01b1ae;
  content: '\e019';
  font-family: "linea-arrows-10";
  font-size: 14px;
  height: 100%;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  left: auto;
  width: 100%;
  margin: 0;
  border: none;
}

.eltd-woocommerce-page .select2-container-active .select2-choice,
.eltd-woocommerce-page .select2-container-active .select2-choices {
  border: 1px solid #e3e3e3;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.eltd-woocommerce-page .select2-drop-active {
  border: 1px solid #e3e3e3;
}

.eltd-woocommerce-page .select2-drop {
  background-color: #fff;
  color: #222222;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.eltd-woocommerce-page .woocommerce-ordering .orderby {
  float: right;
  width: 200px;
}

.eltd-woocommerce-page .eltd-shipping-calculator .country_to_state {
  width: 100%;
}

.eltd-woocommerce-page .select2-search input {
  background-image: none;
  position: relative;
}

.eltd-woocommerce-page .select2-results {
  background-color: #fff;
}

/*# sourceMappingURL=woocommerce.css.map */