/*------------------------------------------------------------------
 * This is woocommerce responsive css file for theme. It is broken into following sections:
 * 1.  Product list styles
 * 2.  Single product styles
 * 3.  Quantity buttons styles
 * 4.  Table styles
 * 5.  Shipping calculator styles
 * 6.  Totals styles
 * 7.  Checkout styles
 * 8.  Dropdown shopping cart styles
-------------------------------------------------------------------*/
/* 1. Product list styles
========================================================================== */
@media only screen and (max-width: 480px) {
  .eltd-woocommerce-page .woocommerce-result-count,
  .eltd-woocommerce-page .woocommerce-ordering {
    width: 100%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-woocommerce-page .woocommerce-result-count {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-woocommerce-page .woocommerce-ordering .orderby {
    display: block;
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-4 .products .product,
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .woocommerce.columns-4 .products .product:nth-child(3n),
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product:nth-child(3n) {
    margin-right: 0;
  }
  .woocommerce.columns-4 .products .product:nth-child(3n+1),
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .woocommerce.columns-4 .products .product:nth-child(4n+1),
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-4 .products .product,
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .woocommerce.columns-4 .products .product:nth-child(2n),
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce.columns-4 .products .product:nth-child(2n+1),
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .woocommerce.columns-4 .products .product:nth-child(3n+1), .woocommerce.columns-4 .products .product:nth-child(4n+1),
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product:nth-child(3n+1),
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce.columns-4 .products .product,
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product,
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(2n),
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(2n+1),
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n+1), .woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(4n+1),
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n+1),
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product,
  .eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-3 .products .product,
  .eltd-woocommerce-page.eltd-woocommerce-columns-3 .products .product {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .woocommerce.columns-3 .products .product:nth-child(2n),
  .eltd-woocommerce-page.eltd-woocommerce-columns-3 .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce.columns-3 .products .product:nth-child(2n+1),
  .eltd-woocommerce-page.eltd-woocommerce-columns-3 .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .woocommerce.columns-3 .products .product:nth-child(3n+1), .woocommerce.columns-3 .products .product:nth-child(4n+1),
  .eltd-woocommerce-page.eltd-woocommerce-columns-3 .products .product:nth-child(3n+1),
  .eltd-woocommerce-page.eltd-woocommerce-columns-3 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce.columns-3 .products .product,
  .eltd-woocommerce-page.eltd-woocommerce-columns-3 .products .product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-3 .eltd-woocommerce-with-sidebar .products .product,
  .eltd-woocommerce-page.eltd-woocommerce-columns-3 .eltd-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
}

/* 2. Single product styles
========================================================================== */
@media only screen and (max-width: 768px) {
  .eltd-single-product-images,
  .eltd-single-product-summary {
    width: 100%;
    margin: 0;
  }
}

/* 3. Quantity buttons styles
========================================================================== */
@media only screen and (max-width: 600px) {
  .eltd-woocommerce-page .eltd-quantity-buttons .eltd-quantity-minus,
  .eltd-woocommerce-page .eltd-quantity-buttons .eltd-quantity-plus,
  .eltd-woocommerce-page .eltd-quantity-buttons .eltd-quantity-input {
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
}

/* 4. Table styles
========================================================================== */
@media only screen and (max-width: 600px) {
  .eltd-woocommerce-page table td {
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-woocommerce-page td.product-thumbnail img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-woocommerce-page td.actions .coupon,
  .eltd-woocommerce-page td.actions .eltd-cart-proceed-update {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-woocommerce-page td.actions .eltd-cart-proceed-update .checkout-button {
    float: left;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-woocommerce-page .coupon input[type="text"] {
    width: 150px;
  }
}

/* 5. Shipping calculator styles
========================================================================== */
@media only screen and (max-width: 600px) {
  .eltd-woocommerce-page .eltd-shipping-calculator {
    width: 100%;
    margin-bottom: 25px;
  }
}

/* 6. Totals styles
========================================================================== */
@media only screen and (max-width: 600px) {
  .eltd-woocommerce-page .eltd-cart-totals {
    width: 100%;
  }
}

/* 7. Checkout styles
========================================================================== */
@media only screen and (max-width: 768px) {
  .eltd-woocommerce-page .woocommerce-checkout .col-1,
  .eltd-woocommerce-page .woocommerce-checkout .col-2 {
    width: 100%;
  }
}

/* 8. Dropdown shopping cart styles
========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-shopping-cart-outer:hover .eltd-shopping-cart-dropdown {
    display: none;
    visibility: hidden;
  }
  .eltd-top-bar .eltd-shopping-cart-outer {
    float: none;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-shopping-cart-outer {
    display: none;
  }
}

/*# sourceMappingURL=woocommerce-responsive.css.map */