/*------------------------------------------------------------------
 * This is main css file for wpml plugin.
 -------------------------------------------------------------------*/
.widget #lang_sel, .widget #lang_sel_list {
  float: left;
  padding: 0 0 0 0px;
  position: relative;
  z-index: 999;
  text-align: left;
  font-family: inherit;
  height: auto;
}

.widget #lang_sel ul, .widget #lang_sel_list ul {
  list-style: none;
}

.widget #lang_sel li, .widget #lang_sel_list li {
  width: 95px;
  position: relative;
}

.widget #lang_sel img, .widget #lang_sel_list img {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.widget #lang_sel a, .widget #lang_sel_list a {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: inherit;
  font-size: 13px;
  background-image: none;
}

.widget #lang_sel *:hover > a, .widget #lang_sel_list *:hover > a, .widget #lang_sel ul ul *:hover > a, .widget #lang_sel_list ul ul *:hover > a, .widget #lang_sel a:hover, .widget #lang_sel_list a:hover {
  color: #01b1ae;
  background-color: transparent;
}

.widget #lang_sel > ul > li:hover ul {
  visibility: visible;
}

.widget #lang_sel > ul > li {
  width: 105px;
  padding: 0 5px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.widget #lang_sel > ul > li > a img {
  right: 5px;
}

.widget #lang_sel ul ul {
  width: 105px;
  position: absolute;
  height: auto;
  top: 100%;
  left: 0;
  border: 0;
  z-index: 1000;
  background-color: #141414;
  border-top: 1px solid #01b1ae;
  padding: 0 5px 5px !important;
  visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.widget #lang_sel > ul > li > a:after {
  font-family: 'ElegantIcons';
  font-size: 13px;
  content: '\33';
}

.widget #lang_sel_list.lang_sel_list_vertical {
  width: 105px;
}

.widget #lang_sel_list ul {
  border-top: none;
}

.widget #lang_sel_list li {
  line-height: 25px;
}

.widget #lang_sel_list img {
  right: 10px;
}

.eltd-sidebar #lang_sel a,
.eltd-sidebar #lang_sel_list a,
.wpb_widgetised_column #lang_sel a,
.wpb_widgetised_column #lang_sel_list a {
  color: #222222;
}

.eltd-sidebar #lang_sel ul ul a,
.eltd-sidebar #lang_sel_list ul ul a,
.wpb_widgetised_column #lang_sel ul ul a,
.wpb_widgetised_column #lang_sel_list ul ul a {
  color: #fff;
}

.eltd-menu-area #lang_sel > ul > li {
  height: 89px;
  line-height: 87px;
}

.eltd-menu-area #lang_sel li {
  line-height: 36px;
}

.eltd-sticky-header #lang_sel > ul > li {
  height: 60px;
  line-height: 58px;
}

.eltd-sticky-header #lang_sel li {
  line-height: 36px;
}

.eltd-sticky-header #lang_sel ul ul {
  top: calc(100% - 1px);
}

/*# sourceMappingURL=wpml.css.map */