.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
	display: block;
	float: left;
	border-radius:20px;
}

.switch-type .cb-enable, .switch-type .cb-disable, .switch-type .cb-enable span, .switch-type .cb-disable span {
	display: block;
	float: left;
}

.field.switch {
	margin-top: 0;
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin:0;
	border-radius:20px;
	background-color:#fff;
}

.cb-enable span,
.cb-disable span,
.switch-type .cb-enable span,
.switch-type .cb-disable span {
	line-height: 29px;
	display: block;
	background-repeat: no-repeat;
	font-weight: bold;
}

.cb-enable span,
.switch-type .cb-enable span {
	background-color: #fff;
	padding: 0 10px;
	color:#8D9CA6;
}

.cb-disable span,
.switch-type .cb-disable span {
	color:#8D9CA6;
	padding: 0 13px;
	border-radius:20px;
}

.cb-disable span:hover {
	background-color:#dce0e6;
	color:#fff;
}

.cb-enable span:hover {
	background-color: rgba($eltd-first-color, 0.2);
	color:#fff;
}

.cb-disable.selected {
	background:#8D9CA6;
	border-radius:20px;
}

.cb-disable.selected span {
	color: #fff;
	border-radius:20px;
}

.cb-enable.selected {
	border-radius:20px;
}

.cb-enable.selected span {
	background-color:$eltd-first-color;
	color: #fff;
	border-radius:20px;
}

.switch label {
	cursor: pointer;
}

.switch input {
	display: none;
}

.field.switch input[type=checkbox]:checked:before {
	content: '';
}

.eltd-page .switch .checkbox {
	display: none;
}