.eltd-tabs-navigation-wrapper {
	.nav-tabs > li.active > a {
		border: 0px solid #566269;
	}

	.nav-tabs li > a > i {
		font-size: 14px;
	}
}

@media only screen and (max-width: $first-break-point) {
	.eltd-tabs-wrapper.vertical .eltd-tabs-navigation-wrapper {
		width: 40px !important;
	}

	.eltd-tabs-wrapper.vertical .eltd-tabs-navigation-wrapper .nav-tabs li span {
		display: none !important;
	}

	.eltd-tabs-wrapper.vertical.left .nav-tabs > li > a {
		padding:13px !important;
	}

	.eltd-tabs-wrapper.vertical .eltd-tabs-content {
		margin-left: 40px !important;
	}

	.eltd-tabs-wrapper.vertical.left .nav-tabs > li.active > a {
		border:none;
		background-color:$eltd-first-color;
	}

	.eltd-tabs-wrapper.vertical.left .nav-tabs > li.active > a i {
		color:#fff;
	}
}