@-webkit-keyframes flipInX {
	0% {
		-webkit-transform: perspective(200px) rotateX(90deg);
		transform: perspective(200px) rotateX(90deg);
		transform-style: preserve-3d;
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(200px) rotateX(-20deg);
		transform: perspective(200px) rotateX(-20deg);
		transform-style: preserve-3d;
	}

	70% {
		-webkit-transform: perspective(200px) rotateX(20deg);
		transform: perspective(200px) rotateX(20deg);
		transform-style: preserve-3d;
	}

	100% {
		-webkit-transform: perspective(200px) rotateX(0deg);
		transform: perspective(200px) rotateX(0deg);
		transform-style: preserve-3d;
		opacity: 1;
	}
}

@keyframes flipInX {
	0% {
		-webkit-transform: perspective(200px) rotateX(90deg);
		transform: perspective(200px) rotateX(90deg);
		transform-style: preserve-3d;
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(200px) rotateX(-20deg);
		transform: perspective(200px) rotateX(-20deg);
		transform-style: preserve-3d;
	}

	70% {
		-webkit-transform: perspective(200px) rotateX(20deg);
		transform: perspective(200px) rotateX(20deg);
		transform-style: preserve-3d;
	}

	100% {
		-webkit-transform: perspective(200px) rotateX(0deg);
		-ms-transform: perspective(200px) rotateX(0deg);
		transform: perspective(200px) rotateX(0deg);
		transform-style: preserve-3d;
		opacity: 1;
	}
}

.eltd-input-change, .eltd-changes-saved {
	opacity: 0;
	padding: 30px;
	z-index: 10;
	color:#fff;
	position: absolute;
	right: 20px;
	top: auto;
	bottom: -118px;
	font-size: 16px;
	transition: all .33s;
	-webkit-transition: all .33s;
}

.eltd-input-change {
	background-color: #FFF2D0;
	border: 1px solid #f5ecd0;
	border: 1px solid rgba(243,188,90,0.8);
	color: #D2B976;
}

.eltd-changes-saved {
	background-color: #e8f9f4;
	border: 1px solid #8ee3c8;
	color: #48cda3;
}

.eltd-input-change i, .eltd-changes-saved i {
	margin-right:20px;
	font-size: 17px;
}

.eltd-input-change.yes, .eltd-changes-saved.yes {
	opacity: 1;
	-moz-animation: flipInX .33s ease-in;
	-webkit-animation: flipInX .33s ease-in;
	animation: flipInX .33s ease-in;
}