.extended-custom-icon{
	background-image: url('img/vc-extend.png');
}
.extended-custom-icon.icon-wpb-elements-holder {
	background-position:0px 0px;
}
.extended-custom-icon.icon-wpb-elements-holder-item {
	background-position:-32px 0px;
}
.extended-custom-icon.icon-wpb-blog-list {
	background-position:-96px 0px;
}
.extended-custom-icon.icon-wpb-blog-slider {
	background-position:-128px 0px;
}
.extended-custom-icon.icon-wpb-portfolio {
	background-position:-160px 0px;
}
.extended-custom-icon.icon-wpb-testimonials {
	background-position:-224px 0px;
}
.extended-custom-icon.icon-wpb-carousel-slider {
	background-position:-256px 0px;
}
.extended-custom-icon.icon-wpb-google-map {
	background-position:-512px 0px;
}
.extended-custom-icon.icon-wpb-team {
	background-position:-544px 0px;
}
.extended-custom-icon.icon-wpb-pricing-tables {
	background-position:-704px 0px;
}
.extended-custom-icon.icon-wpb-pricing-table {
	background-position:-736px 0px;
}
.extended-custom-icon.icon-wpb-blockquote {
	background-position:-928px 0px;
}
.extended-custom-icon.icon-wpb-custom-font {
	background-position:-960px 0px;
}
.extended-custom-icon.icon-wpb-button {
	background-position:-992px 0px;
}
.extended-custom-icon.icon-wpb-counter {
	background-position:-1024px 0px;
}
.extended-custom-icon.icon-wpb-countdown {
	background-position:-1056px 0px;
}
.extended-custom-icon.icon-wpb-pie-chart {
	background-position:-1088px 0px;
}
.extended-custom-icon.icon-wpb-pie-chart-with-icon {
	background-position:-1184px 0px;
}
.extended-custom-icon.icon-wpb-progress-bar {
	background-position:-1216px 0px;
}
.extended-custom-icon.icon-wpb-ordered-list {
	background-position:-1344px 0px;
}
.extended-custom-icon.icon-wpb-unordered-list {
	background-position:-1376px 0px;
}
.extended-custom-icon.icon-wpb-icon-list-item {
	background-position:-1408px 0px;
}
.extended-custom-icon.icon-wpb-icons {
	background-position:-1440px 0px;
}
.extended-custom-icon.icon-wpb-icon-with-text {
	background-position:-1504px 0px;
}
.extended-custom-icon.icon-wpb-social-share {
	background-position:-1632px 0px;
}
.extended-custom-icon.icon-wpb-tabs {
	background-position:-2272px 0px;
}
.extended-custom-icon.icon-wpb-tab {
	background-position:-2304px 0px;
}
.extended-custom-icon.icon-wpb-accordion {
	background-position:-2336px 0px;
}
.extended-custom-icon.icon-wpb-accordion-section {
	background-position:-2368px 0px;
}
.extended-custom-icon.icon-wpb-separator {
	background-position:-2496px 0px;
}
.extended-custom-icon.icon-wpb-image-gallery {
	background-position:-2688px 0px;
}
.extended-custom-icon.icon-wpb-process-slider {
	background-position:-2720px 0px;
}
.extended-custom-icon.icon-wpb-process-slider-item {
	background-position:-2752px 0px;
}
.extended-custom-icon.icon-wpb-info-table {
	background-position:-2784px 0px;
}
.extended-custom-icon.icon-wpb-info-table-row {
	background-position:-2816px 0px;
}
.extended-custom-icon.icon-wpb-image-with-text-over {
	background-position:-2848px 0px;
}

.wpb_no_vertical_split_slider > .wpb_element_wrapper > .vc_container_for_children{
	overflow: hidden;
}

.wpb_no_vertical_left_sliding_panel{
	width: 50%;
	float: left;
	clear: left;
}

.wpb_no_vertical_right_sliding_panel{
	width: 50%;
	float: right;
	clear: right;
}

.wpb_no_vertical_left_sliding_panel > .controls > .column_edit,
.wpb_no_vertical_right_sliding_panel > .controls > .column_edit{
	display: none;
}