.eltd-options-page {
  margin: 20px 20px 0 2px;
  position: relative; }
  .eltd-options-page table th {
    font-weight: 400; }
  .eltd-options-page h1,
  .eltd-options-page h2,
  .eltd-options-page h3,
  .eltd-options-page h4,
  .eltd-options-page h5,
  .eltd-options-page h6 {
    line-height: 1.5em;
    margin-top: 0;
    padding: 0; }
  .eltd-options-page a:hover,
  .eltd-options-page a:focus {
    text-decoration: none; }
  .eltd-options-page .eltd-page-content-wrapper {
    background-color: #374a59; }
  .eltd-options-page .eltd-page-content-wrapper.eltd-page-content-offset {
    position: relative; }
  .eltd-options-page .eltd-tabs-navigation-wrapper .nav-tabs > li.active > a {
    border: 0px solid #566269; }
  .eltd-options-page .eltd-tabs-navigation-wrapper .nav-tabs li > a > i {
    font-size: 14px; }
  @media only screen and (max-width: 1000px) {
    .eltd-options-page .eltd-tabs-wrapper.vertical .eltd-tabs-navigation-wrapper {
      width: 40px !important; }
    .eltd-options-page .eltd-tabs-wrapper.vertical .eltd-tabs-navigation-wrapper .nav-tabs li span {
      display: none !important; }
    .eltd-options-page .eltd-tabs-wrapper.vertical.left .nav-tabs > li > a {
      padding: 13px !important; }
    .eltd-options-page .eltd-tabs-wrapper.vertical .eltd-tabs-content {
      margin-left: 40px !important; }
    .eltd-options-page .eltd-tabs-wrapper.vertical.left .nav-tabs > li.active > a {
      border: none;
      background-color: #54a2af; }
    .eltd-options-page .eltd-tabs-wrapper.vertical.left .nav-tabs > li.active > a i {
      color: #fff; } }
  .eltd-options-page .eltd-page-header {
    background-color: #283943;
    color: #fff;
    border-left: none;
    position: relative; }
    .eltd-options-page .eltd-page-header.eltd-header-fixed {
      position: fixed;
      z-index: 9;
      border-bottom: 1px solid #1e2c34; }
    .eltd-options-page .eltd-page-header img.eltd-header-logo {
      width: 30px; }
    .eltd-options-page .eltd-page-header .eltd-page-title {
      color: #fff;
      padding: 0;
      margin: 0 0 0 20px;
      line-height: 35px; }
    @media only screen and (max-width: 1000px) {
      .eltd-options-page .eltd-page-header img.eltd-header-logo {
        width: 20px; } }
    .eltd-options-page .eltd-page-header .form-top-section-holder {
      display: table;
      height: 67px; }
    .eltd-options-page .eltd-page-header .form-top-section-inner {
      display: table-cell;
      vertical-align: middle;
      line-height: 0;
      padding-top: 6px; }
    .eltd-options-page .eltd-page-header .eltd-top-section-holder {
      margin-left: 253px; }
    .eltd-options-page .eltd-page-header .eltd-top-section-holder-inner {
      display: table;
      width: 100%; }
    .eltd-options-page .eltd-page-header .form-top-section {
      display: table-cell;
      vertical-align: middle;
      width: 80%; }
    .eltd-options-page .eltd-page-header .eltd-top-buttons-holder {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
      width: 20%;
      padding-right: 20px; }
    .eltd-options-page .eltd-page-header .eltd-theme-name {
      padding: 18px 15px;
      width: 229px; }
    .eltd-options-page .eltd-page-header .eltd-theme-name h1 {
      color: #fff;
      font-size: 18px;
      margin-bottom: 0; }
    .eltd-options-page .eltd-page-header .eltd-theme-name img {
      width: 30px;
      margin-right: 10px; }
    @media only screen and (max-width: 1000px) {
      .eltd-options-page .eltd-page-header .eltd-theme-name {
        padding: 18px 10px;
        width: 40px; }
      .eltd-options-page .eltd-page-header .eltd-theme-name h1 {
        display: none; }
      .eltd-options-page .eltd-page-header .eltd-theme-name img {
        width: 20px;
        height: auto; }
      .eltd-options-page .eltd-page-header .eltd-top-section-holder {
        margin-left: 60px; } }
  .eltd-options-page .eltd-tab-content .eltd-page-title {
    color: #8D9CA6;
    font-size: 15px;
    background-color: #F6F8F8;
    padding: 5px 20px;
    margin: -20px -20px 30px -20px;
    border-bottom: 1px solid #dce0e6;
    font-weight: 600; }
  .eltd-options-page .eltd-tab-content .eltd-page-title.eltd-page-title-fixed {
    position: fixed;
    z-index: 8;
    margin-bottom: 0; }
  .eltd-options-page .eltd-tab-content .eltd-page-form {
    position: relative; }
  .eltd-options-page .eltd-tab-content .eltd-page-section-title {
    color: #54a2af;
    background-color: #fff;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    margin: -10px 0px 0;
    border-bottom: 1px solid #efefef;
    font-size: 15px;
    line-height: 1; }
  .eltd-options-page .eltd-tab-content .eltd-page-section-subtitle {
    color: #374a59;
    font-weight: 400;
    display: inline-block;
    margin: 15px 0 15px;
    font-size: 14px;
    position: relative;
    left: 0px;
    padding: 0px 20px;
    border-left: 3px solid #54a2af; }
  .eltd-options-page .eltd-tab-content .eltd-page-form-section-holder {
    margin-bottom: 30px;
    padding: 0px 0px;
    background: #fff; }
  .eltd-options-page .eltd-tab-content .eltd-page-form-section-holder h3 + .eltd-page-form-section {
    border-top: none; }
  .eltd-options-page .eltd-anchor-holder .eltd-selectpicker {
    display: none; }
  .eltd-options-page .eltd-anchor-holder > span {
    color: #bdc6cb;
    font-size: 13px;
    margin-right: 25px; }
  .eltd-options-page .eltd-anchor-holder .dropdown-toggle {
    display: block;
    width: 100%;
    color: #fff;
    border: 1px solid #abb7c7;
    background-color: #fff;
    padding-left: 17px;
    padding-right: 14px; }
  .eltd-options-page .eltd-anchor-holder .dropdown-toggle:active,
  .eltd-options-page .eltd-anchor-holder .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .eltd-options-page .eltd-anchor-holder .btn-group.open .btn-info.selectpicker,
  .eltd-options-page .eltd-anchor-holder .btn-group .btn-info.selectpicker {
    background-color: #2e414d;
    border-color: #324753;
    color: #fff; }
  .eltd-options-page .eltd-anchor-holder .caret {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .eltd-options-page .eltd-anchor-holder .dropdown-menu {
    margin: 0;
    border: 1px solid #dbdee0;
    box-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
  .eltd-options-page .eltd-anchor-holder .dropdown-menu:not(.inner) {
    margin-top: 7px;
    width: 315px;
    border-color: #f3f5f6;
    padding-top: 10px; }
  .eltd-options-page .eltd-anchor-holder .dropdown-menu.inner {
    position: relative;
    z-index: 100;
    border: none;
    width: 100%; }
  .eltd-options-page .eltd-anchor-holder .dropdown-menu.inner li {
    margin-bottom: 0; }
  .eltd-options-page .eltd-anchor-holder .dropdown-menu.inner li a {
    cursor: pointer;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    color: #8d9ca6; }
  .eltd-options-page .eltd-anchor-holder .dropdown-menu.inner li span {
    color: #6F858D;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }
  .eltd-options-page .eltd-anchor-holder .dropdown-menu.inner li.active a span,
  .eltd-options-page .eltd-anchor-holder .dropdown-menu.inner li a:hover span {
    color: #fff; }
  .eltd-options-page .eltd-anchor-holder .dropdown-menu.inner li.active a,
  .eltd-options-page .eltd-anchor-holder .dropdown-menu.inner li a:hover {
    background-color: #54a2af; }
  .eltd-options-page .eltd-anchor-holder .dropdown-menu input[type='text'] {
    border-radius: 2px;
    width: 92%;
    margin: 0 auto;
    border-color: #dce0e6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #f7f9fa;
    padding-top: 6px;
    padding-bottom: 6px; }
  .eltd-options-page .eltd-anchor-holder .dropdown-menu.inner {
    position: relative;
    z-index: 100;
    border: none;
    width: 100%; }
  .eltd-options-page .eltd-anchor-holder .dropdown-menu.inner li {
    margin-bottom: 0; }
  .eltd-options-page .eltd-anchor-holder .dropdown-menu.inner li a {
    cursor: pointer;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    color: #8d9ca6; }
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(200px) rotateX(90deg);
    transform: perspective(200px) rotateX(90deg);
    transform-style: preserve-3d;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(200px) rotateX(-20deg);
    transform: perspective(200px) rotateX(-20deg);
    transform-style: preserve-3d; }
  70% {
    -webkit-transform: perspective(200px) rotateX(20deg);
    transform: perspective(200px) rotateX(20deg);
    transform-style: preserve-3d; }
  100% {
    -webkit-transform: perspective(200px) rotateX(0deg);
    transform: perspective(200px) rotateX(0deg);
    transform-style: preserve-3d;
    opacity: 1; } }
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(200px) rotateX(90deg);
    transform: perspective(200px) rotateX(90deg);
    transform-style: preserve-3d;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(200px) rotateX(-20deg);
    transform: perspective(200px) rotateX(-20deg);
    transform-style: preserve-3d; }
  70% {
    -webkit-transform: perspective(200px) rotateX(20deg);
    transform: perspective(200px) rotateX(20deg);
    transform-style: preserve-3d; }
  100% {
    -webkit-transform: perspective(200px) rotateX(0deg);
    -ms-transform: perspective(200px) rotateX(0deg);
    transform: perspective(200px) rotateX(0deg);
    transform-style: preserve-3d;
    opacity: 1; } }
  .eltd-options-page .eltd-input-change, .eltd-options-page .eltd-changes-saved {
    opacity: 0;
    padding: 30px;
    z-index: 10;
    color: #fff;
    position: absolute;
    right: 20px;
    top: auto;
    bottom: -118px;
    font-size: 16px;
    transition: all .33s;
    -webkit-transition: all .33s; }
  .eltd-options-page .eltd-input-change {
    background-color: #FFF2D0;
    border: 1px solid #f5ecd0;
    border: 1px solid rgba(243, 188, 90, 0.8);
    color: #D2B976; }
  .eltd-options-page .eltd-changes-saved {
    background-color: #e8f9f4;
    border: 1px solid #8ee3c8;
    color: #48cda3; }
  .eltd-options-page .eltd-input-change i, .eltd-options-page .eltd-changes-saved i {
    margin-right: 20px;
    font-size: 17px; }
  .eltd-options-page .eltd-input-change.yes, .eltd-options-page .eltd-changes-saved.yes {
    opacity: 1;
    -moz-animation: flipInX .33s ease-in;
    -webkit-animation: flipInX .33s ease-in;
    animation: flipInX .33s ease-in; }

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;
  /* Dimensions */
  width: 250px;
  height: 10px; }

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

/* IE10 */
progress {
  color: #78cd51; }

/* Firefox */
progress::-moz-progress-bar {
  background: #7fb76c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7fb76c 0%, #3c763d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fb76c), color-stop(100%, #3c763d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7fb76c 0%, #3c763d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7fb76c 0%, #3c763d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7fb76c 0%, #3c763d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #7fb76c 0%, #3c763d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb76c', endColorstr='#3c763d',GradientType=0 );
  /* IE6-9 */ }

/* Chrome */
progress::-webkit-progress-value {
  background: #7fb76c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7fb76c 0%, #3c763d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fb76c), color-stop(100%, #3c763d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7fb76c 0%, #3c763d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7fb76c 0%, #3c763d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7fb76c 0%, #3c763d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #7fb76c 0%, #3c763d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb76c', endColorstr='#3c763d',GradientType=0 );
  /* IE6-9 */ }

/* Polyfill */
progress[aria-valuenow]:before {
  background: #7fb76c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7fb76c 0%, #3c763d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fb76c), color-stop(100%, #3c763d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7fb76c 0%, #3c763d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7fb76c 0%, #3c763d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7fb76c 0%, #3c763d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #7fb76c 0%, #3c763d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb76c', endColorstr='#3c763d',GradientType=0 );
  /* IE6-9 */ }

/*# sourceMappingURL=eltd-options.css.map */
